.match {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    border: .1rem solid $global-ui-grey-300;
    border-radius: .6rem;
    height: 16.8rem;
    margin-bottom: 2.4rem;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: .6rem;
        z-index: -1;
        box-shadow: 0 .1rem .4rem 0 rgba($black, .12);
        transition: .3s ease box-shadow;
    }

    @include hover {

        &::after {
            box-shadow: 0 .8rem 2rem 0 rgba($black, .15);
        }
    }

    &__team {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__team-logo {
        height: 6.4rem;
        width: 6.4rem;
    }
}