.toolkit {
    position: relative;
    margin-top: 2rem;
    padding: 3rem 1.5rem;
    background-color: $grey-light;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 12px;
    box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    transform: translateY(2%);
    opacity: 0;
    animation: fadeUp .8s .3s cubic-bezier(.25, .1, .32, 1.37) forwards;

    &::before {
        content: '';
        width: 100%;
        height: 12px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $primary;
    }

    &__fixed-links {
        position: absolute;
        top: 12px;
        right: 0;
        background: #fff;
        border-radius: 0 0 0 4px;
        box-shadow: -1px 2px 1px 1px rgba(0, 0, 0, .1);
        z-index: 50;
    }

    &__fixed-links ul {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__fixed-links li {
        display: inline-block;
        padding: 0 .5rem;
    }

    &__fixed-links a {
        display: block;
        position: relative;
        transition: opacity .2s ease;

        @include hover {

            .toolkit__tooltip {
                transform: scale(1);
            }
        }
    }

    &__tooltip {
        width: 100px;
        display: block;
        position: absolute;
        top: 110%;
        left: -180%;
        padding: .8rem;
        border-radius: 3px;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
        background: $primary;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        text-align: center;
        transform: scale(0);
        transform-origin: top middle;
        transition: transform .1s ease;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -4px;
            right: 4px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $primary;
        }
    }

    &__section {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        @include clearfix;
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__sub-heading {
        margin-bottom: 1rem;
    }

    &__content {
        width: 100%;
        margin-bottom: 1rem;
    }

    &__list {

        li {
            list-style-type: disc;
            margin-left: 2rem;
            padding-left: 1rem;
            font-weight: $bold;
        }
    }

    &__spacer {
        display: block;
        height: 1rem;
    }

    .code {
        display: inline-block;
        padding: .6rem 1rem;
        background: #fff;
        border: 1px solid $grey-dark;
        border-radius: 5px;
        font-family: monospace;
    }

    .colour-block {
        height: 200px;
        position: relative;
        margin-bottom: 2rem;
        border-radius: 8px;
        background-color: #ececec;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
        text-align: center;
        font-size: 1.6rem;

        &--1 {
            background-color: $primary;
        }

        &--2 {
            background-color: $secondary;
        }

        &--3 {
            background-color: $tertiary;
        }

        &--4 {
            background-color: $primary-hover;
        }

        &--5 {
            background-color: $secondary-hover;
        }

        &--6 {
            background-color: $tertiary-hover;
        }

        &.grey {
            background-color: $grey;

            &--light {
                background-color: $grey-light;
            }

            &--dark {
                background-color: $grey-dark;
            }
        }

        &.text {

            &--primary {
                background: $text-primary;
            }

            &--secondary {
                background: $text-secondary;
            }

            &--light {
                background: $text-light;
            }
        }

        span {
            display: block;
            position: relative;
            top: calc(50% - 30px);
            margin-bottom: .5rem;
            transform: translateY(-50%);
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        }

        .info {
            width: 100%;
            height: 40px;
            line-height: 40px;
            position: absolute;
            bottom: 0;
            border-radius: 0 0 8px 8px;
            background: #fff;
        }
    }

    &__theme {
        width: 98%;
        min-height: 20rem;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 8px;

        > div {
            color: #fff;
        }

        .code {
            color: $text-primary;
        }

        @include themify($example-colors, this) {
            background: $color-primary;
            border: 10px solid $color-secondary;
        }
    }
}
