// stylelint-disable declaration-no-important

.inline-player {
    // selectors
    $control-bar: '.vjs-control-bar.vjs-control-bar.vjs-control-bar.vjs-control-bar.vjs-control-bar.vjs-control-bar.vjs-control-bar.vjs-control-bar';
    $play-button: '.vjs-play-control';
    $quality-button: '.vjs-quality-menu.vjs-v7 .vjs-quality-menu-button';
    $quality-menu-popup: '.bc-player-default_default .vjs-menu-button-popup .vjs-menu';
    $fullscreen-button: '.vjs-fullscreen-control';
    $control-button: '.video-js .vjs-control';
    $volume-panel: '.vjs-volume-panel';
    $volume-button: '.vjs-volume-vertical';
    $volume-slider: '.vjs-volume-bar.vjs-slider-vertical';
    $placeholder-icon: '.vjs-icon-placeholder';
    $progress-bar: '.vjs-progress-control';
    $live-status: '.video-js .vjs-seek-to-live-control';
    $captions-button: '.vjs-subs-caps-button';

    /**
     * BRIGHTCOVE PLAYER STYLING OVERRIDES
     */

    #{$control-bar} {
        border-radius: 4px;
        width: 57%;
        height: 5.6rem;
        left: 50%;
        bottom: 2.4rem;
        transform: translateX(-50%);
        align-items: center;
        background-color: rgba($black, .6);
        backdrop-filter: blur(20px);

        #{$fullscreen-button} > #{$placeholder-icon} {

            &::before {
                content: '';
                background-image: url(../i/elements/video-fullscreen.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 3.3rem 3.2rem;
            }
        }

        .vjs-button > #{$placeholder-icon} {

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                width: 6.4rem;
            }
        }

        #{$captions-button} {
            display:none;
        }
    }

    .vjs-ad-controls.vjs-ad-playing #{$control-bar} {
        display: none;
    }

    .video-js:not( .vjs-ad-playing ) {

        #{$control-bar}.vjs-ad-control-bar {
            display: none;
        }
    }

    .video-js.vjs-ad-playing {

        #{$control-bar}.vjs-ad-control-bar {
            display: flex;
        }
    }

    // hide the control bar when the video is playing but the user is inactive

    .video-js.vjs-has-started.vjs-user-inactive.vjs-playing,
    .video-js.vjs-has-started.vjs-user-inactive.vjs-ad-playing {

        #{$control-bar} {
            visibility: visible;
            opacity: 0;
            transition: visibility $transition, opacity $transition;
        }
    }

    // user is active again, show the control bar

    .video-js.vjs-has-started.vjs-user-active.vjs-playing,
    .video-js.vjs-has-started.vjs-user-active.vjs-ad-playing {

        #{$control-bar} {
            visibility: visible;
            opacity: 1;
        }
    }

    #{$quality-button} #{$placeholder-icon} {

        &::before {
            content: '';
            background-image: url(../i/elements/settings.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 3.2rem 3.2rem;
        }
    }

    .video-js.vjs-quality-menu .vjs-quality-menu-button-HD-flag {

        &::after {
            background-color: rgba($black, 0);
            top: 1rem;
            right: .7rem;
        }
    }

    #{$quality-menu-popup} {

        .vjs-menu-content {
            border-radius: 4px;
            overflow: hidden;
        }

        .vjs-menu-item {
            margin: 0 !important;
            border-radius: 0 !important;
            z-index: $level-one;
            position: relative;

            &.vjs-selected {
                background-color: $white;
                color: $black;
            }
        }
    }

    #{$control-button} {
        width: 6.4rem !important;

        &::before {
            content: '';
            display: block;
            height: 3.2rem;
            width: 1px;
            background-color: rgba($white, .2);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        #{$volume-button} {
            border-radius: 4px;
            width: .8rem !important;

            &::before {
                display: none;
            }
        }
    }

    #{$volume-slider} {
        width: .8rem;
        margin: 0;
        height: auto;
        padding: 0;
        background: none;
        border-radius: 4px;
        overflow: hidden;

        .vjs-volume-level {
            border-radius: 4px;
            width: 100%;
        }
    }

    .video-js .vjs-current-time,
    .vjs-no-flex .vjs-current-time,
    .vjs-remaining-time {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        font-size: 1.4rem !important;
        font-weight: $bold;
        width: 7.7rem !important;

        .vjs-current-time-display {
            text-align: center;
        }
    }

    .vjs-mouse.bc-player-default_default #{$progress-bar} {
        transition: none;
    }

    .vjs-time-divider,
    .vjs-playback-rate,
    .vjs-picture-in-picture-control {
        display: none;
    }

    #{$progress-bar},
    #{$volume-panel},
    .vjs-current-time,
    .vjs-fullscreen-control,
    .vjs-volume-horizontal,
    .vjs-mute-control {

        &::before {
            display: none !important;
        }
    }

    .vjs-live {

        #{$volume-panel} {

            &::before {
                display: none !important;
            }
        }
    }

    #{$progress-bar} {
        height: .8rem !important;
        top: 0 !important;
        border-radius: 4px;
        border: solid 1px rgba($white, .2);
        z-index: $level-one;

        .vjs-progress-holder {
            margin: 0 !important;

            &::before {
                background-color: rgba($black, 0);
            }
        }

        .vjs-load-progress {
            background-color: rgba($black, 0);
        }

        .vjs-play-progress {
            border-radius: 4px;
        }
    }

    #{$live-status} {
        position: absolute;
        right: 10.5rem;
        bottom: -1.7rem;

        &::before {
            display: none;
        }
    }

    @include mq( $until: desktop ) {

        #{$control-bar} {
            width: 87%;
        }

        .video-js.vjs-quality-menu .vjs-quality-menu-wrapper,
        .video-js .vjs-fullscreen-control {
            display: none;
        }

        .video-js .vjs-control {

            &::before {
                display: none;
            }
        }

        .video-js #{$volume-panel} {
            order: 2;
        }

        #{$live-status} {
            right: 4.2rem;
        }
    }

    @include mq( $until: 425px ) {

        #{$control-bar} {

            .vjs-current-time,
            .vjs-remaining-time {
                display: block;
                position: absolute;
                width: auto !important;
                top: 1.7rem;
                left: 5.4rem;
                height: auto;
                padding: 0;
                margin: 0;
                font-size: 1.1rem !important;
            }

            .vjs-remaining-time {
                left: auto;
                right: 5.4rem;
            }

            .vjs-time-divider,
            .vjs-duration {
                display: none;
            }

            #{$progress-bar} {
                top: -.7rem !important;
            }

            .vjs-button > #{$placeholder-icon} {

                &::before {
                    width: 4.8rem;
                }
            }

            #{$volume-panel},
            #{$play-button} {

                &::before {
                    content: '';
                    display: block;
                    height: 2rem;
                    width: 1px;
                    background-color: rgba($white, .2);
                    position: absolute;
                    right: .8rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        #{$control-button} {
            width: 5.4rem !important;
        }

        #{$volume-panel} {

            &::before {
                right: auto;
                left: .8rem;
            }

            .vjs-button > #{$placeholder-icon} {

                &::before {
                    left: .7rem;
                }
            }
        }
    }
}
