.betting {
    display: none;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0 0;
    }

    &__link {
        text-decoration: none;

        @include hover {
            text-decoration: underline;
        }
    }

    &__link-icon.icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: $sponsor-bet-easy;
        margin-left: .4rem;
    }

    &__money {
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: $sponsor-bet-easy;
        font-weight: $bold;
    }
}

.icon.betting-logo {
    width: 4rem;
    height: 2.3rem;
    margin-right: .4rem;
}

.show-betting {

    .betting {
        display: flex;
        margin: auto;
        width: auto;
        justify-content: center;
    }
}

.betting-button {
    $this: &;
    width: 7.2rem;
    height: 3.2rem;
    border-radius: .4rem;
    box-shadow: 0 2px 4px 0 rgba(88, 0, 125, .25);
    background-color: $sponsor-bet-easy;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: background-color $transition;

    &--premiership {
        width: 12.4rem;

        #{$this}__money {
            font-size: 1.6rem;
            line-height: 1.8rem;
        }

        .trophy-icon.icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-left: -.1rem;
            fill: $white;
            transition: fill $transition;
        }

        @include hover {

            .trophy-icon {
                fill: $sponsor-bet-easy;
            }
        }
    }

    &__link {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $white;
        width: 100%;
        height: 100%;
    }

    &__money {
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: $white;
        font-weight: $bold;
        transition: color $transition;
    }

    &__link-icon.icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: $white;
        margin: auto -.2rem auto .2rem;
        transition: fill $transition;
    }

    // Adds hover to invert colours on betting buttons

    @include hover {
        background-color: $white;

        #{$this}__money {
            color: $sponsor-bet-easy;
        }

        #{$this}__link {
            text-decoration: underline;
            color: $sponsor-bet-easy;
        }

        #{$this}__link-icon.icon {
            fill: $sponsor-bet-easy;
        }
    }

    @include mq($until: phablet) {

        &--premiership {
            width: 7.2rem;
            height: 2.8rem;

            #{$this}__money {
                font-size: 1.2rem;
                line-height: 1.4rem;
                letter-spacing: 0;
            }

            .trophy-icon.icon {
                width: 1.8rem;
                height: 1.8rem;
                margin-right: 0;
            }
        }
    }
}

.tabs {

    .betting-button {

        &__link .icon {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}
