.button {
    @include button-reset;
    display: block;
    position: relative;
    padding: 1.3rem 6rem;
    background-color: $primary-medium;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateY(0) translate3d(0, 0, 0);
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: $bolder;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px 0 rgba($primary-medium, .25);
    transition: color .2s ease, background-color .2s ease, transform .2s ease, box-shadow .2s ease;
    // in case the button is not an anchor element, cursor is set
    cursor: pointer;

    .icon {
        width: 3.2rem;
        height: 3.2rem;
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        fill: $text-primary;
        transition: fill .2s ease;
    }

    @include hover {
        color: $text-light;
        transform: translateY(-2px);
        box-shadow: 0 8px 20px 0 rgba($primary-medium, .35);

        .icon {
            fill: #fff;
        }
    }

    &--right {
        float: right;
    }

    &--inline-block {
        display: inline-block;
    }

    &--primary {
        background-color: $primary;
        color: $text-light;

        @include hover {
            background: $primary-hover;
        }
    }

    &--secondary {
        background-color: $secondary;
        color: $text-light;

        @include hover {
            background: $secondary-hover;
        }
    }

    &--secondary-light {
        background-color: $secondary-light;
        box-shadow: 0 8px 20px 0 rgba($secondary-dark, .35);
        color: $secondary-text;

        @include hover {
            color: $secondary-text;
        }
    }

    &--tertiary {
        background-color: $tertiary;
        color: $text-light;

        @include hover {
            background: $tertiary-hover;
        }
    }

    &--icon {
        padding: 1rem 4rem;
    }

    &--wide {
        width: 100%;

        .icon {
            fill: $white;
            margin-left: -4.4rem;
            right: auto;
        }
    }

    &--loading {

        .icon {
            margin-top: .1rem;
        }
    }

    &--margin-bottom {
        margin-bottom: 1rem;
    }

    @include mq($from: tablet) {
        min-width: 19rem;
    }

    @include mq($from: desktop) {
        min-width: 22rem;
    }

    @include mq($until: phablet) {
        min-width: auto;
        padding: 1.2rem;
    }
}
