.carousel-controls {

    &__button {
        border: 0;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: .3rem;
        margin-left: .8rem;
        outline: 1px solid #000;
        transition: .25s opacity $quick-bezier;

        &.faded {
            opacity: .5;
            pointer-events: none;
            user-select: none;
            cursor: default;
        }
    }
}
