.content-slider {
    overflow: hidden;

    &__wrapper {
        clear: both;
        width: auto;
        position: relative;
    }

    &__inner-wrapper {
        display: flex;
        position: relative;
        transition: left .5s $quick-bezier, transform .3s $quick-bezier;
        will-change: left;
        left: 0;
        padding-bottom: 2rem;

        &.nudge-right {
            transform: translateX(30px);
        }

        &.nudge-left {
            transform: translateX(-30px);
        }

        > li {
            margin-bottom: 0;
        }
    }

    &__item {
        opacity: .2;
        position: relative;
        flex-shrink: 0;
        transition: opacity .6s;

        &.is-active {
            opacity: 1;
        }
    }

    @include mq($until: tablet) {
        // implement scroll on tablet and smaller

        &__inner-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            padding-top: 1rem;
            padding-bottom: 0;
            -webkit-overflow-scrolling: touch;

            &::after {
                content: '';
                display: inline-block;
                height: auto;
                min-width: 1rem;
                background-color: transparent;
            }
        }

        &__item {
            opacity: 1;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
