/*
    Used as an offset for the fixed header, so anchored content will scroll
    to the edge of the header rather than being overlapped by it.
    Should be placed inside a "position: relative;" container.
*/

.content-anchor {
    position: absolute;
    top: 0;
    left: 0;
}
