.drop-down { // styling for all drop-downs
    position: relative;
    display: flex;
    $option-height: 4rem;
    transition: opacity $transition;

    &__selected {
        flex: 1;
        font-size: 1.7rem;
        border-bottom: dashed 1px #979797;
        margin-right: 4.2rem;
        position: relative;
    }

    &__trigger {
        display: flex;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: .16rem;
        box-shadow: 0 1px 2px 0 rgba($black, .08);
        background-color: $white;
        align-items: center;
        cursor: pointer;
    }

    &__trigger-icon {
        flex: 1;
        width: .7rem;
        height: 1rem;
    }

    &__options {
        position: absolute;
        visibility: hidden;
        top: 100%;
        left: 50%;
        width: 32rem;
        backdrop-filter: blur(5px);
        background-color: rgba($white, .9);
        box-shadow: 0 12px 24px 0 rgba($black, .08);
        margin-top: .3rem;
        z-index: $level-three;
        opacity: 0;
        transform: translateY(.8rem) translateX(-50%);
        transition: transform .2s ease-in-out, opacity .2s ease-in-out, visibility .3s linear;

        // despite being a bem class the dropdown top arrow is nested as it requires to be nested.

        .drop-down__options-dropdown-arrow {
            position: absolute;
            top: -2.8rem;
            left: 50%;
            width: 1.7rem;
            height: 4.7rem;
            transform: translateX(-50%) scaleY(-1);
            fill: $white;
        }

        &.is-active {
            visibility: visible;
            transform: scale(1) translateX(-50%);
        }
    }

    &__options-list {
        overflow-y: auto;
        max-height: ($option-height*5) - 1;
    }

    &__option {
        display: block;
        height: $option-height;
        line-height: $option-height;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: $bold;
        color: $global-ui-grey-800;
        text-align: center;
        padding: 0 1rem;
        border-radius: 0;
        cursor: pointer;
        transition: background-color $transition;

        @include hover {
            border: none;
            background-color: $global-ui-grey-300;
            border-radius: 3px;
        }

        &.is-selected {
            border: none;
            background-color: $primary;
            color: $white;
            border-radius: 3px;

            @include hover {
                border: none;
            }

            &.is-selected {
                background-color: $primary;
                color: $white;

                @include hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    &__option-inner {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__show-more-options {
        display: none;
    }

    &__show-more-options-icon {
        display: none;
    }

    &__show-button {
        display: none;
    }

    &--reveal-on-hover {
        @mixin drop-down-options {

            .drop-down__options {
                visibility: visible;
                opacity: 1;
                transform: translateY(0) translateX(-50%);
                transition: transform .2s ease-in-out, opacity .2s ease-in-out;
            }
        }

        @include mq( $from: desktop ) {

            @include hover( $focus: false ) {
                @include drop-down-options;
            }
        }

        @include mq( $until: desktop ) {

            @include hover {
                @include drop-down-options;
            }
        }
    }
}

@include mq( $from: tablet ) {

    .drop-down {
        $this: &;

        &__trigger {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: $level-three;
        }

        &__option {

            &:last-child {
                border-bottom: none;
            }
        }

        &__options {

            &--large {
                width: 44rem;

                .drop-down__options-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;
                }
            }
        }
    }
}

@include mq( $until: tablet ) {

    .drop-down {

        &__selected {
            display: none;
        }

        &__trigger {
            border: none;
            background-color: transparent;
            box-shadow: none;
            width: 100%;
            height: auto;
            border-radius: 0;
            cursor: default;
            margin: 0;
        }

        &__trigger-icon {
            display: none;
        }

        &__options {
            visibility: visible;
            transform: none;
            position: relative;
            top: auto;
            left: auto;
            width: 100%;
            border: none;
            box-shadow: none;
            background: none;
            padding: 0;
            margin: 0;
            max-height: none;

            .drop-down__options-dropdown-arrow {
                display: none;
            }

            &.is-active {
                transform: none;
            }
        }

        &__options-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            margin-bottom: 1rem;
            max-height: none;
        }

        &__show-more-options {
            display: block;
            width: 100%;
            height: 3.2rem;
            border-radius: 1.6rem;
            padding: .8rem;
            font-size: 1.1rem;
            color: $grey;
        }

        &__option-inner {
            display: inline-flex;
            align-self: center;
            padding: .6rem 0;
            white-space: normal;
        }

        &__show-more-options-icon {
            position: absolute;
            top: .4rem;
            right: 0;
            fill: $grey;
        }

        &__option {
            display: flex;
            height: auto;
            vertical-align: middle;
            text-align: left;

            &.is-selected {
                border: 1px solid $primary;

                @include hover {
                    border: 1px solid $primary;
                }
            }

            &.is-more {
                display: none;
                opacity: 0;
                transition: all $transition;

                &--on {
                    display: flex;
                    opacity: 1;
                }
            }
        }

        &__show-button {
            display: block;
        }
    }
}

@include mq( $until: phablet ) {

    .drop-down {

        &__options-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}
