.empty-state {
    display: flex;
    flex-direction: column;
    margin: auto;

    &__background {
        @include retina-bg('../i/elements/empty-state', 'png', 600px, 143px);
        background-repeat: no-repeat;
        background-position: center center;
        width: 60rem;
        height: 14.3rem;
        margin: auto;
    }

    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__message-label {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $global-ui-grey-800;
        line-height: 1.8rem;
    }

    &__summary {
        color: $global-ui-grey-600;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-top: .2rem;
    }

    @include mq($until: 600px) {
        margin: auto -2.4rem;

        &__background {
            @include retina-bg('../i/elements/empty-state-mobile', 'png', 375px, 115px);
            background-size: cover;
            width: 37.5rem;
            height: 11.5rem;
        }
    }
}
