.floating-bar {
    background-color: $white;
    box-shadow: 0 -2px 8px 0 rgba($black, .08);
    bottom: -6.1rem;
    left: 0;
    position: fixed;
    right: 0;
    transition: $transition;
    z-index: $level-seven;

    &.is-active {
        bottom: 0;

        & + .advert--sticky-banner {
            transform: translateY(-5.1rem);
        }
    }

    &__progress {
        background-image: $primary-gradient-dark;
        height: .3rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
    }

    &__content {
        display: flex;
        height: 6.4rem;
        justify-content: space-between;
    }

    .social-share {
        margin-left: auto;
    }

    @include mq( $from: phablet ) {

        .social-share__copy-message {
            left: auto;
            right: -1rem;
            transform: none;

            &::before {
                left: auto;
                right: 1.6rem;
            }
        }
    }

    @include mq($until: phablet) {
        bottom: -4.9rem;

        &__content {
            height: 5.2rem;
        }
    }
}

.entitlement-modal-open {
    .floating-bar {
        z-index: $level-five;
    }
}