.form {
    display: block;
    width: 100%;

    &__label {
        width: 15%;
        display: inline-block;
        margin-right: -4px;
        margin-bottom: 1rem;
    }

    &__input {
        width: 85%;
        display: inline-block;
        margin-bottom: 1rem;
        padding: .5rem;
        border-radius: 4px;
        border: 1px solid $grey;
        box-shadow: none;
        transition: border-color .2s ease;

        &::placeholder {
            color: $grey;
        }

        &:focus {
            border-color: $grey-dark;
        }

        &--textarea {
            width: 100%;
            display: block;
        }
    }

    &___submit {
        border: none;
        box-shadow: none;
    }

    button {
        border: none;
    }
}
