.hamburger {
    position: relative;
    background: none;
    border: none;
    margin: 0;
    padding: 1rem;
    cursor: pointer;

    &__line,
    &__text {
        pointer-events: none;
    }

    &__line {
        width: 100%;
        max-width: 4rem;
        height: .4rem;
        display: block;
        position: relative;
        margin: 0 auto .6rem;
        background-color: #000;
        border-radius: .4rem;

        &--top {
            transform-origin: top left;
            transition: transform .2s 0s ease;
        }

        &--middle {
            transform-origin: center;
            transition: opacity .25s .1s ease;
        }

        &--bottom {
            transform-origin: bottom left;
            transition: transform .2s 0s ease;
        }
    }

    &__text {
        font-weight: $bold;
        text-transform: uppercase;
    }

    &.is-active & {

        &__line {

            &--top {
                transform: rotate(45deg) translate(.1rem, -.6rem);
                transition: transform .2s .05s ease;
            }

            &--middle {
                opacity: 0;
                transition: opacity .25s 0s ease;
            }

            &--bottom {
                transform: rotate(-45deg) translate(.1rem, .6rem);
                transition: transform .2s .05s ease;
            }
        }
    }
}
