.information-popup {
    background-image: $primary-gradient-dark;
    border-radius: 5px;
    box-shadow: 0 8px 20px 0 rgba($secondary-dark, .35);
    color: $white;
    left: 50%;
    max-width: 34rem;
    padding: 1.2rem;
    position: absolute;
    top: 11rem;
    transform: translate(-50%, -.6rem);
    transition: opacity $transition;
    width: calc(100% - 2.4rem);
    z-index: $level-two;

    &.is-hidden {
        pointer-events: none;
        opacity: 0;
    }

    &::before {
        background-image: $primary-gradient-dark;
        clip-path: polygon(0 100%, 48% 100%, 51% 0, 54% 100%, 100% 100%, 100% 100%, 0 100%);
        content: '';
        height: 1rem;
        left: 0;
        position: absolute;
        right: 0;
        top: -.9rem;
    }

    &__close {
        @include button-reset;
        cursor: pointer;
        position: absolute;
        right: .2rem;
        top: .2rem;

        .icon {
            fill: $white;
            height: 2rem;
            opacity: .6;
            width: 2rem;
        }
    }

    &__item {
        align-items: center;
        display: flex;
    }

    &__content {
        flex: 1 0 auto;
    }

    &__title {
        font-size: 1.4rem;
        font-weight: $bold;
        line-height: 1.14;
    }

    &__detail {
        font-size: 1.2rem;
        line-height: 1.33;
    }

    &__icon {
        width: 4.6rem;

        .icon {
            fill: $white;
            height: 4rem;
            width: 3rem;
        }
    }

    &--ladder {
        position: absolute;
        top: 10rem;
        background-image: linear-gradient(to left, $sponsor-bet-easy, #60198f);
        z-index: $level-two;
        box-shadow: 0 8px 20px 0 rgba($sponsor-bet-easy, .35);

        &::before {
            background-image: linear-gradient(to left, $sponsor-bet-easy, #60198f);
        }
    }

    &--rankings {
        top: 9rem;
    }
}
