/* stylelint-disable  declaration-no-important */

.inline-player {
    $this: &;
    height: 0;
    padding-top: (160 / 257) * 100%;
    transition: background-color $transition;

    &--modal {
        bottom: 0;
        height: auto;
        left: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: $level-three;

        &.is-active {
            z-index: $level-four;
        }

        #{$this}__video {
            padding-top: 0 !important;
            height: 100% !important;
        }
    }

    &--lead-media {

        #{$this}__button {
            top: 50%;
        }
    }

    &__button {
        @include button-reset;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity $transition;
        z-index: $level-five;

        &::before {
            background-color: $secondary-dark;
            border-radius: 10px;
            box-shadow: 0 1px 4px 0 rgba($black, .5);
            content: '';
            height: 7.5rem;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(.95);
            transition: opacity $transition, transform $transition;
            width: 12rem;
        }

        &--live::before {
            background-color: $global-ui-live;
        }

        .icon {
            fill-opacity: .65;
            height: 12rem;
            transition: transform $transition, fill-opacity $transition;
            width: 12rem;
        }

        @include hover {

            &::before {
                opacity: 1;
                transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1);
            }

            .icon {
                fill-opacity: 1;
                transform: scale(.8);
            }
        }
    }

    &__player-container {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity .5s ease-in-out;
        visibility: hidden;
        z-index: $level-four;
    }

    &__player-container.is-active {
        opacity: 1;
        visibility: visible;
        z-index:$level-six;
    }

    &__video {
        padding-top: (160 / 257) * 100% !important;
    }

    &.is-active {
        background-color: $black;

        #{$this}__button {
            opacity: 0;
            visibility: hidden;
        }

        #{$this}__player-container {
            opacity: 1;
            visibility: visible;
        }

        #{$this}__video {
            width: 100%;
        }
    }

    @include mq( $until: tablet ) {

        &--modal {
            height: 0;
            padding-top: $aspect-4-3;

            #{$this}__video {
                padding-top: $aspect-4-3 !important;
            }

            #{$this}__button {
                top: 50%;

                .icon {
                    fill-opacity: .65;
                    height: 6.4rem;
                    transition: transform $transition, fill-opacity $transition;
                    width: 6.4rem;
                }
            }
        }
    }

    @include mq( $until: phablet ) {
        padding-top: $aspect-4-3;

        &__video {
            padding-top: $aspect-4-3 !important;
        }

        &__button {
            top: 50%;

            .icon {
                fill-opacity: .65;
                height: 6.4rem;
                transition: transform $transition, fill-opacity $transition;
                width: 6.4rem;
            }
        }
    }
}

.embeddable-video {
	.js-video-container {
        background: $black;
        margin-bottom: 5rem;
    }
}