.linked-list {
    @include clearfix;
    display: flex;

    &__item.has-children {
        position: relative;

        @include hover {

            .linked-list__dropdown {
                transform: translate(-50%, 0);
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__link {
        display: block;
        padding: 1.2rem 1.8rem;
        text-decoration: none;

        @include hover {
            cursor: pointer;
            background: $grey-light;
            color: $grey-dark;
        }
    }

    .is-active {
        position: relative;

        &::after {
            content: '';
            height: .4rem;
            width: 100%;
            background: $secondary;
            bottom: 0;
            left: 0;
            position: absolute;
        }
    }

    &__dropdown-label {
        padding: 1.2rem 1.8rem;

        @include hover {
            cursor: pointer;
            background: $grey-light;
            color: $grey-dark;

            + .linked-list__dropdown {
                transform: translate(-50%, 0);
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 1rem);
        opacity: 0;
        background: $primary;
        padding: 1.2rem 1.8rem;
        z-index: 10;
        pointer-events: none;
        min-width: 140%;
        margin-top: -.8rem;
        color: #fff;
        transition: opacity .25s cubic-bezier(0, .5, .6, 1), transform .25s cubic-bezier(0, .5, .6, 1);
        display: block;

        &:focus-within {
            transform: translate(-50%, 0);
            opacity: 1;
            pointer-events: auto;
        }

        .linked-list__link {
            padding: 0 0 .2rem;
        }

        .is-active::after {
            height: .2rem;
        }
    }
}
