.list-loader {
    $this: &;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: $bolder;
    letter-spacing: .08rem;
    color: $global-ui-grey-800;
    margin: 2.4rem 0;

    &__icon {
        margin-right: .2rem;

        svg.icon {
            width: 4.8rem;
            height: 4.8rem;
            animation: loader 1.5s infinite;
        }
    }
}

@keyframes loader {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
