.match-list-alt {
    $this: &;

    &__item {
        border: 1px solid $grey-light;
        border-radius: .8rem;
        box-shadow: 0 1px 4px 0 rgba($black, .12);
        margin-bottom: 4.2rem;

        &--no-border {
            border: none;
            box-shadow: none;
        }
    }

    &__header {
        position: relative;
        padding: 1.2rem 1.2rem 3.6rem;
        text-align: center;

        &-team-background {
            width: 50%;
            position: absolute;
            bottom: 0;
            top: 0;
            display: flex;
            overflow: hidden;

            &--home {
                background-image: linear-gradient(to right, var(--home-primary), $mc-black);
                border-top-left-radius: .8rem;
                left: 0;
            }

            &--away {
                background-image: linear-gradient(to left, var(--away-primary), $mc-black);
                border-top-right-radius: .8rem;
                right: 0;
                justify-content: flex-end;
            }
        }

        &-team-watermark {
            position: absolute;
            top: -50%;
            bottom: -50%;
            margin: auto;
            width: 28rem;
        }

        &-wrapper {
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &-team {
            display: flex;
            font-size: 2.1rem;
            font-weight: $bold;
            line-height: 1.14;
            letter-spacing: -.3px;
            align-items: center;
            width: 50%;

            &--home {
                justify-content: flex-end;

                #{$this}__header-badge {
                    margin-right: 0;
                    margin-left: 2.5rem;
                }
            }
        }

        &-badge {
            width: 8rem;
            height: 8rem;
            margin-right: 2.5rem;
        }

        &-meta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin: 0 1.4rem;
        }

        &-timezone {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: $bold;
            line-height: .73;
            color: rgba($white, .7);
            margin-bottom: .4rem;
        }

        &-time {
            font-size: 3.2rem;
            font-weight: $bold;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: .5rem;

            &-ampm {
                font-weight: $regular;
                color: rgba($white, .7);
            }
        }

        &-location {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: $bold;
            letter-spacing: -.3px;
        }

        &-location-icon {
            fill: $white;
            width: 1.8rem;
            height: 1.8rem;
        }

        &-state {
            font-weight: $regular;
            margin-left: .3rem;
        }

        &-mc-link {
            border-bottom: 2px solid rgba($white, 0);
            color: $white;
            font-size: 1.4rem;
            font-weight: $bolder;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            position: absolute;
            right: 2.4rem;
            top: 4.2rem;
            text-decoration: none;
            transition: border $transition;
            z-index: $level-one;

            @include hover {
                border-bottom: 2px solid $white;
            }
        }

        &-mc-link-icon {
            width: 1.8rem;
            height: 1.8rem;
            fill: $white;
            margin-left: .2rem;
        }

        &-mobile-link {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: $level-one;
        }

        @include mq($until: desktop) {

            &-mc-link {
                position: relative;
                right: 0;
                top: 0;
            }
        }

        @include mq($until: phablet) {
            padding: .6rem;

            &-badge {
                width: 6.4rem;
                height: 6.4rem;
                margin: 0 1.8rem;
            }

            &-timezone {
                font-size: 1rem;
                line-height: .8;
            }

            &-time {
                font-size: 2.1rem;
                line-height: .9;
            }

            &-location {
                font-size: 1.2rem;
                line-height: 1.17;
            }

            &-location-icon {
                display: none;
            }

            &-mc-link {
                font-size: 1.3rem;
                font-weight: $bold;
                text-transform: initial;
            }
        }
    }


    &__content {
        background-color: $grey-light;
        box-shadow: 0 4px 10px 0 rgba($black, .15);
        margin: -2.4rem auto 2.4rem;
        position: relative;
        width: calc(100% - 4.8rem);

        @include mq($until: phablet) {
            margin: 0 auto 1.6rem;
            width: 100%;
        }
    }

    &--broadcast-schedule & {

        &__item {
            border: none;
            box-shadow: none;
        }

        &__header {
            border-radius: .8rem;
            box-shadow: 0 1px 4px 0 rgba($black, .12);
            overflow: hidden;
        }

        &__content {
            overflow: hidden;
        }

        @include mq($until: tablet) {

            &__item {
                margin-bottom: 2rem;
            }
        }
    }
}
