.mc-widget-header {
    $this: &;
    position: relative;
    margin-bottom: 4.8rem;

    &__content {
        margin-top: 2.6rem;
        text-align: center;
    }

    &__link-label {
        display: block;
        color: $secondary-dark;
        font-size: 1rem;
        line-height: .8;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-bottom: .6rem;
    }

    &__title-wrap {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.2rem;

        &--link {
            text-decoration: none;
            transition: transform $transition;

            @include hover {
                transform: translateY(-.4rem);
            }
        }
    }

    svg#{ $this }__title-icon {
        width: 4.4rem;
        height: 4.4rem;
        margin-top: .2rem;
        margin-right: .4rem;
        fill: $brand-ui-dark;
    }

    &__title {
        font-size: 3.7rem;
        font-weight: $bold;
        color: $brand-ui-dark;
        line-height: .95;
        letter-spacing: -.14rem;
        position: relative;
    }

    svg#{ $this }__title-link-icon {
        width: 3.2rem;
        height: 3.2rem;
        margin-left: .4rem;
        fill: $brand-ui-dark;
    }

    &__subtitle-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg#{ $this }__subtitle-icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-top: .2rem;
        margin-right: .5rem;
    }

    &__subtitle-text {
        font-size: 1.4rem;
        font-weight: $regular;
        color: $global-ui-grey-600;
        line-height: 1;
    }

    @include mq($until: tablet) {

        &__title {
            font-size: 2.8rem;
        }
    }

    @include mq($until: phablet) {
        margin-bottom: $layout-padding;

        &__content {
            margin-top: 1.5rem;
        }

        &__title-wrap {
            margin-bottom: .5rem;
        }

        svg#{ $this }__title-icon {
            width: 3.2rem;
            height: 3.2rem;
            margin-right: .2rem;
        }

        &__title {
            font-size: 2.1rem;
            line-height: 1.1;
            letter-spacing: -.05rem;
        }

        svg#{ $this }__title-link-icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-left: .2rem;
        }

        &__subtitle-text {
            font-size: 1.2rem;
            line-height: 1.16;
            letter-spacing: -.02rem;
        }
    }
}
