/* stylelint-disable-file  selector-max-specificity, selector-no-qualifying-type, selector-max-attribute */

// THUMBNAIL VERTICAL LAYOUT ON BREAKPOINTS

@mixin thumbnail-vertical {

    &__meta {
        padding: 2.4rem 0 .4rem;
        margin-bottom: 0;
    }

    &__link {
        flex-direction: column;
    }

    &__link[data-visited] {

        .media-thumbnail__viewed {
            display: block;
        }
    }

    &__image-container {
        padding-top: $aspect-16-10;
        width: 100%;
    }

    &__caption {
        width: 100%;
    }

    &__topic-text,
    &__date-text {
        font-size: 1.4rem;
    }
}

// THUMBNAIL HORIZONTAL LAYOUT ON BREAKPOINTS

@mixin thumbnail-horizontal {

    &__title {
        margin-bottom: 0;
    }

    &__caption {
        display: flex;
        flex-direction: column;
        flex-basis: 53.21%;
        padding: .8rem .8rem .8rem 1.2rem;
    }

    &__summary {
        display: none;
    }

    &__image-container {
        align-self: center;
        flex-basis: 46.78%;
        padding-top: ($aspect-16-10 / 100) * 45;
        height: 0;
    }

    &__link {
        flex-direction: row;

        &::before {
            box-shadow: 0 4px 12px 0 rgba($black, 0);
        }

        @include hover {
            transform: none;

            .media-thumbnail__caption::after {
                display: none;
            }
        }
    }

    &__meta {
        margin: auto 0 -.2rem;
        padding: 0;
    }

    &__link[data-visited] {

        .media-thumbnail__viewed {
            display: none;
        }
    }

    &__date-text,
    &__topic-text {
        font-size: 1.2rem;
        white-space: nowrap;
    }
}

.media-thumbnail {
    $this: &;
    display: flex;
    flex: 1;
    user-select: none;

    &__link {
        @include link-reset;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: $white;
        transition: transform $transition;

        &::before { // box shadow frame that reveals on hover
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: $box-shadow;
            transition: opacity $transition, box-shadow $transition;
        }

        @include hover {
            transform: translateY(-.8rem);

            &::before {
                box-shadow: $box-shadow-hover;
            }

            #{$this}__image-container::after {
                opacity: 1;
            }

            #{$this}__type-icon {

                &::before {
                    opacity: 1;
                    transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1);
                }

                .icon {
                    fill-opacity: 1;
                }
            }

            #{$this}__caption {

                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    &__link[data-visited] {

        &::before {
            box-shadow: 0 4px 12px 0 rgba($black, .04);
        }
    }

    &__link[data-visited] & {

        &__title {
            color: rgba($brand-ui-dark, .6);
        }

        &__viewed {
            display: block;
        }
    }

    &__inner-link {
        color: inherit;
        text-decoration: inherit;

        @include hover {
            text-decoration: underline;
        }
    }

    &__viewed {
        display: none;
        font-size: 1rem;
        text-transform: uppercase;
        color: $global-ui-grey-600;
        letter-spacing: .2rem;
        font-weight: $bold;
        margin-left: 0;
        padding-bottom: .4rem;
    }

    &__image-container {
        position: relative;
        display: block;
        overflow: hidden;
        padding-top: $aspect-16-10;
        width: 100%;

        &::before {
            background-size: 18rem;
        }

        img {
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
    }

    .object-fit-cover-picture__img {
        transition: opacity $transition;
    }

    &__tag {
        margin-right: 1.6rem;
    }

    &__caption {
        padding: 2.4rem;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: .4rem;
            width: 100%;
            transform: scaleX(0);
            background-color: $secondary-dark;
            transition: transform $transition;
        }
    }

    &__title {
        font-size: 2.1rem;
        font-weight: $bold;
        line-height: 1.14;
        letter-spacing: -.04rem;
        color: $global-ui-grey-800;
        margin-bottom: .8rem;

        @supports ( -webkit-line-clamp: 3 ) {
            // stylelint-disable-next-line value-no-vendor-prefix
            display: -webkit-box;
            /*! autoprefixer: off */
            // stylelint-disable-next-line property-no-vendor-prefix
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            -webkit-line-clamp: 3; // truncates the text after two lines
            overflow: hidden;
        }
    }

    &__summary {
        color: $global-ui-grey-600;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    &__meta {
        margin-top: auto;
        display: flex;
        padding: 2.4rem 0 .4rem;
        position: relative;
    }

    &__date {
        display: flex;
        align-items: center;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 .1rem 0 -.2rem;
        }
    }

    &__date-text {
        color: $global-ui-grey-800;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: $bold;

        &.u-datetime-notrel {
            color: $global-ui-grey-600;
            font-weight: $regular;
        }
    }

    &__topic-news {
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: block;
            width: 1px;
            height: 1.2rem;
            background-color: $global-ui-grey-300;
            margin: 0 .4rem;
        }

        .icon {
            width: 1.6rem;
            height: 1.6rem;
            fill: $secondary-dark;
            margin-right: .2rem;
        }
    }

    &__topic-text {
        font-size: 1.4rem;
        font-weight: $bold;
        line-height: .9;
        letter-spacing: -.04rem;
        color: $secondary-dark;
    }

    &__publish-heading {
        position: absolute;
        padding: .5rem .6rem .4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        transform: translate3d(0, 0, 0);
        top: .8rem;
        right: .8rem;
        left: auto;

        &.breaking {
            background-color: $secondary-dark;
        }

        &.exclusive {
            background-color: $primary-medium;
        }
    }

    &__publish-label {
        color: $white;
        text-transform: uppercase;
        font-size: 1.1rem;
        line-height: .9;
        letter-spacing: -.01;
        font-weight: $bold;
        text-align: center;
    }

    &__reading-time {
        margin: 0 0 0 auto;
    }

    &__reading-text {
        color: $white;
        font-size: 1.6rem;
        line-height: .875;
        letter-spacing: -.04rem;

        &--alt {
            font-size: .8rem;
            font-weight: $bold;
            line-height: 1.75;
            color: $white;
            text-transform: uppercase;
            vertical-align: super;
            margin-right: .4rem;
        }
    }

    &__reading-value {
        color: $white;
        font-size: 1.8rem;
        line-height: .6;
        letter-spacing: -.05rem;
    }

    &__type-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            display: block;
            width: 7.8rem;
            height: 5.1rem;
            border-radius: 5px;
            background-color: rgba($global-ui-grey-800, .75);
            box-shadow: 0 1px 5px 0 rgba($black, .5);
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(.95);
            transition: opacity $transition, transform $transition;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translate3d(0, 0, 0);
            width: 7.2rem;
            height: 7.2rem;
            fill-opacity: .65;
            transition: fill-opacity $transition;
        }
    }

    &__video-duration {
        border-top-right-radius: 4px;
        background-color: rgba($black, .7);
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: .5rem .8rem;
    }

    &__duration-text {
        color: $white;
        line-height: 1;
        display: block;
        font-size: 1.8rem;

        &--alt {
            font-size: .8rem;
            font-weight: $bold;
            text-transform: uppercase;
            vertical-align: super;
        }
    }

    &__livepass-container {
        display: inline-block;
        border-left: 1px solid rgba( $white, .2 );
        margin-left: .6rem;
    }

    &__livepass-logo {
        fill: $white;
        width: 7.8rem;
        height: 1.4rem;
    }

    &__content-locked {
        width: 2rem;
        height: 2rem;
        fill: $white;
    }

    &__livepass-logo,
    &__content-locked {
        display: inline-block;
        vertical-align: middle;
    }

    &--video & {

        &__topic-text {
            color: $primary-medium;
        }

        &__topic-news {

            .icon {
                fill: $primary-medium;
            }
        }

        &__caption {

            &::after {
                background-color: $primary-medium;
            }
        }
    }

    &--video-feature & {

        &__link {
            background-color: $primary-dark;
        }

        &__caption {

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate3d(0, 0, 0);
                background-image: linear-gradient(to bottom, rgba($black, 0), rgba($black, .25));
            }

            &::after {
                background-color: $tertiary;
            }
        }

        &__title,
        &__summary {
            text-align: center;
        }

        &__title,
        &__summary,
        &__date-text {
            color: $white;
        }

        &__date {

            .icon {
                stroke: $white;
            }
        }

        &__summary {
            opacity: .6;
        }

        &__meta {
            justify-content: center;
        }
    }

    &--large-thumbnail & {

        &__title {
            font-size: 2.8rem;
        }

        &__summary {
            font-size: 1.4rem;
        }
    }

    &--portrait-thumbnail & {

        &__link {
            flex-direction: row;
        }

        &__caption {
            flex-basis: 70%;
        }

        &__image-container {
            flex-basis: 30%;
            padding-top: 0;
        }
    }

    &--playlist:not( #{ $this }--search-result ) & { // disable playlist style for search results

        &__link[data-visited] {

            .media-thumbnail__title {
                color: $white;
            }
        }

        &__viewed {
            margin: auto;
            color: rgba($white, .6);
        }

        &__title {
            font-size: 2.8rem;
            color: $white;
            letter-spacing: -.06rem;
            margin-bottom: 1.2rem;
        }

        &__summary {
            font-size: 1.2rem;
            color: rgba($white, .7);
        }

        &__title,
        &__summary {
            text-align: center;
        }

        &__publish-heading {
            display: none;
        }

        &__caption {
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
            padding: 1.6rem 2.4rem .8rem;
            overflow: visible;

            &::after {
                display: none;
            }

            &::before {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transform: translate3d(0, 0, 0);
                transition: transform ease .7s;
                box-shadow: 0 4px 8px 0 rgba($black, .4);
                z-index: -1;
                background-image: linear-gradient(246deg, rgba($black, .7), rgba($black, .7) 51%, rgba($black, .9));
            }
        }

        &__link {
            flex-direction: column;
            overflow: hidden;
            box-shadow: $box-shadow;
            transition: transform $transition, box-shadow $transition;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: .4rem;
                width: 100%;
                transform: scaleX(0);
                background-color: $secondary-dark;
                transition: transform $transition;
            }

            @include hover {
                box-shadow: $box-shadow-hover;

                .media-thumbnail__caption {

                    &::before {
                        transform: scaleY(4) translate3d(0, 0, 0);
                    }

                    .media-thumbnail__expand-icon {
                        transform: scale(1.2);
                    }
                }

                &::after {
                    transform: scaleX(1);
                }
            }
        }

        &__gallery-count {
            color: $white;
            line-height: .85;
            letter-spacing: -.04rem;
            font-size: 1.4rem;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 1.2rem;
                margin: 0 .3rem 0 .5rem;
                background-color: rgba($white, .2);
            }
        }

        &__count-text {
            font-weight: $bold;
            margin: 0 .3rem 0 .2rem;
        }

        &__gallery-icon {
            fill: $white;
            width: 2rem;
            height: 2rem;
        }

        &__image-container,
        &__caption {
            flex-basis: 100%;
            width: 100%;
        }

        &__image-container {
            flex: auto;
            padding-top: (1 / 1) * 100%;
            background-color: $black;

            &::after {
                display: none;
            }
        }

        &__meta {
            order: -1;
            display: flex;
            justify-content: center;
            position: relative;
            padding: .6rem 0 .8rem;
        }

        &__expand-icon {
            margin: .8rem auto 0;
            width: 4rem;
            height: 4rem;
            fill: $white;
            transition: transform $transition;
        }

        &__topic-news-icon {
            display: none;
        }

        &__date-text,
        &__topic-text {
            color: $white;
        }

        &__date {

            .icon {
                stroke: $white;
                fill: $white;
            }
        }

        &__topic-news {

            &::before {
                opacity: .2;
            }

            .icon {
                fill: $white;
            }
        }
    }

    &--featured & {

        &__link[data-visited] {

            .media-thumbnail__title {
                color: $white;
            }
        }

        &__viewed {
            margin: auto;
            color: rgba($white, .6);
        }

        &__title {
            font-size: 2.8rem;
            color: $white;
        }

        &__summary {
            font-size: 1.4rem;
            color: rgba($white, .7);
        }

        &__title,
        &__summary {
            text-align: center;
        }

        &__publish-heading {
            display: none;
        }

        &__caption {
            position: absolute;
            bottom: 0;
            padding: 0 2.4rem 1.8rem;

            &::after {
                background-image: $primary-gradient-dark;
            }
        }

        &__link {
            flex-direction: column;
        }

        &__image-container,
        &__caption {
            flex-basis: 100%;
            width: 100%;
        }

        &__image-container {
            flex: auto;
            padding-top: (17 / 16) * 100%;
            background-color: $black;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60%;
                background-image: linear-gradient(to top, $black, rgba($black, .8) 45%, rgba($black, 0));
            }
        }

        &__meta {
            margin-top: 1.6rem;
            padding: 1.8rem 0 0;
            position: relative;

            &::before {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                background-image: $primary-gradient-dark;
                position: absolute;
                top: 0;
            }
        }

        &__date-text,
        &__topic-text {
            color: $white;
        }

        &__date {

            .icon {
                stroke: $white;
                fill: $white;
            }
        }

        &__topic-news {

            &::before {
                opacity: .2;
            }

            .icon {
                fill: $white;
            }
        }
    }

    &--transparent & {

        &__link {
            background-color: rgba($white, 0);
        }
    }

    &--dark & {

        &__title,
        &__date-text,
        &__topic-text {
            color: $white;
        }

        &__date,
        &__topic-news {

            .icon {
                fill: $white;
            }
        }

        &__summary {
            color: rgba($white, .7);
        }
    }

    &--horizontal-desktop & {
        @include thumbnail-horizontal;

        &__title {
            font-size: 1.6rem;
            letter-spacing: -.02rem;
        }

        &__summary {
            display: block;
            font-size: 1.2rem;
            font-weight: $regular;
        }
    }

    &--micro-thumbnail &,
    &--modal & {
        @include thumbnail-horizontal;

        &__title {
            font-size: 1.6rem;
            line-height: 1.125;
            letter-spacing: -.02rem;
        }

        &__image-container {
            transition: box-shadow $transition;
        }

        &__link {

            @include hover {
                transform: translateY(-.4rem);

                .media-thumbnail__image-container {
                    box-shadow: $box-shadow-hover;
                }
            }
        }

        &__duration-text {
            font-size: 1.2rem;

            &--alt {
                display: none;
            }
        }
    }

    &--modal & {

        &__link {
            background: none;
            margin: 0 1.2rem;
            width: 35rem;
        }
    }

    &--video-primary & {

        &__link {
            flex-direction: row;
        }

        &__image-container {
            flex-basis: 47.74%;
            padding-top: calc((121 / 116 * 100%) / 100 * 47.74);
        }

        &__caption {
            flex-basis: 52.26%;
        }

        &__title {
            font-size: 2.8rem;
            line-height: 1.14;
            margin-bottom: 2rem;
        }

        &__meta {
            border-top: 1px solid $global-ui-grey-300;
        }
    }

    &--hero-primary &,
    &--hero-primary-portrait &,
    &--hero-secondary-portrait &,
    &--hero-secondary-large &,
    &--hero-secondary-small & {

        &__caption {
            background: $white;
        }
    }

    &--hero-primary &,
    &--hero-primary-portrait &,
    &--hero-secondary-portrait &,
    &--hero-secondary-large &,
    &--hero-secondary-small &,
    &--hero-tertiary & {

        &__title {
            // remove line truncation on hero item titles
            @supports ( -webkit-line-clamp: 2 ) {
                -webkit-line-clamp: unset;
            }
        }
    }

    &--hero-primary &,
    &--hero-primary-portrait & {

        &__link {
            box-shadow: $box-shadow;

            /*
                size and position the red blur behind the card.
                the design isn't implemented as a standard box-shadow.
            */

            &::before {
                position: absolute;
                top: 5.05%;
                width: 94.95%;
                height: 94.95%;
                filter: blur(10px);
                background-image: $primary-gradient-dark;
                margin: 0 auto;
            }
        }

        &__title {
            font-size: 5rem;
            line-height: 1.08;
            letter-spacing: -.09rem;
            padding-bottom: .8rem;
        }

        &__summary {
            font-size: 1.4rem;
            line-height: 1.64;
        }

        &__meta {
            border-top: 1px solid $global-ui-grey-300;
        }
    }

    &--show-related & {

        &__meta {
            border-top: 0;
            border-bottom: 1px solid $global-ui-grey-300;
            padding-bottom: 2.4rem;
        }
    }

    &--hero-primary & {
        height: 100%;

        &__image-container {
            flex-basis: 48.74%;
            padding-top: calc((121 / 116 * 100%) / 100 * 48.74);
        }

        &__caption {
            flex-basis: 51.26%;
        }
    }

    &--hero-primary-portrait & {

        &__image-container {
            flex-basis: 47.06%;
            padding-top: calc(#{$aspect-2-3} / 100 * 47.06);
        }

        &__caption {
            flex-basis: 59.24%;
        }

        &--related-items {
            margin-top: 2.4rem;
        }
    }

    &--hero-secondary-portrait {
        height: 100%;

        #{$this}__link {
            box-shadow: $box-shadow;

            /*
                size and position the red blur behind the card.
                the design isn't implemented as a standard box-shadow.
            */

            &::before {
                position: absolute;
                top: 10%;
                width: 90%;
                height: 90%;
                margin: 0 auto;
                filter: blur(10px);
                background-image: $primary-gradient-dark;
            }
        }

        #{$this}__image-container {
            padding-top: 100%;
        }

        #{$this}__link[data-visited] #{$this}__viewed {
            display: none;
        }

        #{$this}__caption {
            padding: 1.6rem 1.6rem 2.4rem;
        }
    }

    &--hero-secondary-large {

        #{$this}__link {
            box-shadow: $box-shadow;

            /*
                size and position the red blur behind the card.
                the design isn't implemented as a standard box-shadow.
            */

            &::before {
                position: absolute;
                top: 10%;
                width: 91.27%;
                height: 90%;
                margin: 0 auto;
                filter: blur(7.3px);
                background-image: $primary-gradient-dark;
            }
        }

        #{$this}__image-container {
            padding-top: calc((5 / 8) * 100%);
        }

        #{$this}__caption {
            padding: 1.6rem 2.4rem 2.4rem;
        }

        #{$this}__summary {
            display: none;
        }

        #{$this}__title {
            font-size: 2.8rem;
            line-height: 1.14;
            letter-spacing: -.06rem;
        }

        #{$this}__meta {
            padding: 0 0 .4rem;
        }
    }

    &--hero-secondary-small {

        #{$this}__link {
            flex-direction: row;
            box-shadow: $box-shadow;

            /*
                size and position the red blur behind the card.
                the design isn't implemented as a standard box-shadow.
            */

            &::before {
                position: absolute;
                top: 10%;
                width: 90%;
                height: 90%;
                margin: 0 auto;
                filter: blur(8.1px);
                background-image: $primary-gradient-dark;
            }
        }

        #{$this}__image-container {
            flex-basis: 41.55%;
            padding-top: calc(#{$aspect-16-10} / 100 * 41.55);
        }

        #{$this}__caption {
            flex-basis: 58.45%;
        }

        #{$this}__summary {
            display: none;
        }

        #{$this}__meta {
            padding: 0 0 .4rem;
        }
    }

    &--hero-tertiary {

        #{$this} {

            &__link {
                flex-direction: row;
                background: transparent;

                &::before {
                    box-shadow: none;
                }

                @include hover {

                    #{$this}__image-container {
                        box-shadow: 0 8px 20px 0 rgba($black, .25);
                    }
                }
            }

            &__image-container {
                box-shadow: 0 8px 20px 0 rgba($black, 0);
                flex-basis: 46.84%;
                padding-top: calc((50 / 89 * 100%) / 100 * 46.84);
                transition: box-shadow $transition;
            }

            &__caption {
                flex-basis: 53.16%;
                padding: .8rem 0 .8rem 1.3rem;

                &::after {
                    display: none;
                }
            }

            &__link[data-visited] &__viewed,
            &__summary {
                display: none;
            }

            &__meta {
                padding: 0 0 .4rem;
            }

            &__date-text {
                font-size: 1.2rem;
                line-height: .83;
            }

            &__date {

                .icon {
                    width: 1.4rem;
                    height: 1.4rem;
                    margin-right: 0;
                }
            }

            &__topic-text {
                font-size: 1.2rem;
                line-height: .83;
                letter-spacing: -.03rem;
            }
        }
    }

    &--up-next {

        #{$this} {

            &__link {
                @include hover {
                    transform: none;
                }

                &::before {
                    display: none;
                }
            }

            &__caption {
                padding: 1.2rem 0 0;

                &::after {
                    background-color: rgba($white, 0);
                }
            }

            &__title {
                font-size: 1.6rem;
                letter-spacing: -.02rem;
                line-height: 1.13;
            }

            &__summary {
                display: none;
            }

            &__meta {
                padding: 1rem 0 0;
            }

            &__date .icon {
                height: 1.4rem;
                width: 1.4rem;
            }

            &__date-text,
            &__topic-text {
                font-size: 1.2rem;
            }
        }
    }

    &--search-result {

        &::before {
            content: '';
            display: block;
            margin-left: -.1rem;
            width: .1rem;
            padding-bottom: 20%;
        }

        #{$this} {

            &__link {
                flex-direction: row;
            }

            &__caption {
                flex-basis: 70%;
            }

            &__image-container {
                flex-basis: 30%;
                padding-top: 0;
            }

            &__title {
                font-size: 2.8rem;
                letter-spacing: -.06rem;
                color: $brand-ui-dark;
                margin-bottom: 1.2rem;
                max-width: 40ch;
                line-height: 1.24;
            }

            &__summary {
                font-size: 1.4rem;
                line-height: 1.43;
                max-width: 75ch;
            }

            &__publish-heading {
                top: auto;
                left: auto;
                bottom: .8rem;
            }
        }
    }

    &--search-result#{ $this }--playlist {

        #{ $this } {

            &__link {

                @include hover {

                    #{ $this }__image-container {

                        &::after {
                            transform: translateY(-50%) scale(1.5);
                        }

                        #{ $this }__expand-icon {
                            transform: translate(-50%, -50%) scale(1.2);
                        }
                    }
                }
            }

            &__image-container {

                &::after {
                    content: '';
                    position: absolute;
                    z-index: $level-one;
                    width: 100%;
                    height: 6.4rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: transform $transition;
                    background-image: linear-gradient(259deg, rgba($black, .7), rgba($black, .7) 49%, rgba($black, .9));
                    box-shadow: 0 .4rem .8rem 0 rgba($black, .4);
                }

                #{ $this }__expand-icon {
                    position: absolute;
                    z-index: $level-two;
                    fill: $white;
                    left: 50%;
                    top: 50%;
                    width: 6.4rem;
                    height: 6.4rem;
                    transform: translate(-50%, -50%);
                    transition: transform $transition;
                }
            }

            &__caption {

                &::after {
                    background-color: $global-ui-grey-800;
                }

                #{ $this }__expand-icon {
                    display: none;
                }
            }

            &__topic-news-icon {
                display: none;
            }

            &__topic-text {
                color: $global-ui-grey-800;
            }

            &__gallery-count {
                line-height: .85;
                letter-spacing: -.04rem;
                font-size: 1.4rem;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 1.2rem;
                    margin: 0 .3rem 0 .5rem;
                    background-color: $global-ui-grey-300;
                }
            }

            &__count-text {
                font-weight: $bold;
                margin: 0 .3rem 0 .2rem;
            }
        }
    }

    @include mq($until: wide) {

        &--portrait-thumbnail &,
        &--search-result & {

            &__caption {
                flex-basis: 60%;
            }

            &__image-container {
                flex-basis: 40%;
            }
        }
    }

    @include mq($from: 1170px, $until: wide) {

        &--hero-primary &,
        &--hero-primary-portrait & {

            &__title {
                font-size: 4rem;
                line-height: 1.14;
                letter-spacing: -.04rem;
            }
        }
    }

    @include mq($from: 1170px) {

        &--hero-primary &,
        &--hero-primary-portrait & {

            &__caption {
                padding: 4.4rem 3.2rem 2.4rem;
            }
        }
    }

    @include mq($until: 1170px) {

        &--playlist:not( #{ $this }--search-result ) & {

            &__title {
                font-size: 2.4rem;
            }
        }

        &__caption {
            padding: 1.4rem 1.2rem 1.2rem;
        }

        &__summary {
            display: none;
        }

        &__viewed {
            padding-top: .4rem;
        }

        &--portrait-thumbnail &,
        &--search-result & {

            &__caption {
                padding: 1.2rem;
            }

            &__date {

                .icon {
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }

            &__topic-text,
            &__date-text {
                font-size: 1.2rem;
            }

            &__viewed {
                padding-top: .4rem;
            }
        }

        &--search-result & {

            &__title {
                font-size: 2.1rem;
            }
        }

        &--search-result#{ $this }--playlist & {

            &__gallery-count {
                font-size: 1.2rem;
            }
        }

        &--featured & {

            &__reading-text,
            &__reading-value {
                display: none;
            }
        }
    }

    @include mq($until: desktop) {

        &--large-thumbnail & {

            &__title {
                font-size: 2.1rem;
            }
        }

        &--playlist:not( #{ $this }--search-result ) & {

            &__title {
                font-size: 2.1rem;
                margin-bottom: 0;
            }

            &__gallery-icon,
            &__topic-news {
                display: none;
            }

            &__expand-icon {
                width: 3rem;
                height: 3rem;
            }
        }

        &--vertical-desktop & {
            @include thumbnail-vertical;

            &__title {
                margin-bottom: .8rem;
                font-size: 2.1rem;
            }

            &__date-text,
            &__topic-text {
                font-size: 1.4rem;
            }

            &__caption {
                padding: 1.4rem 1.2rem 1.2rem;
            }

            &__link {

                &::before {
                    box-shadow: $box-shadow;
                }

                @include hover {

                    .media-thumbnail__image-container {
                        box-shadow: none;
                    }

                    .media-thumbnail__caption::after {
                        display: block;
                    }

                    &::before {
                        box-shadow: $box-shadow-hover;
                    }
                }
            }
        }
    }

    @include mq($from: tablet, $until: 1170px) {

        &--hero-primary &,
        &--hero-primary-portrait & {

            &__title {
                font-size: 3.5rem;
                line-height: 1.14;
                letter-spacing: -.04rem;
            }
        }

        &--hero-tertiary & {

            &__link {
                flex-direction: column;
            }

            &__image-container {
                flex-basis: unset;
                padding-top: calc((50 / 89 * 100%));
            }

            &__caption {
                flex-basis: unset;
            }
        }
    }

    @include mq($from: tablet) {

        &--hero-primary &,
        &--hero-primary-portrait & {

            &__link {
                flex-direction: row;
            }

            &__caption {
                padding: 3.4rem 3.2rem 2.4rem;
            }

            &__summary {
                margin-bottom: 1.6rem;
            }
        }

        &--hero-tertiary & {

            &__title {
                font-size: 1.6rem;
                line-height: 1.13;
                letter-spacing: -.02rem;
            }
        }
    }

    @include mq($until: tablet) {

        &__duration-text {
            font-size: 1.2rem;

            &--alt {
                display: none;
            }
        }

        &--large-thumbnail & {

            &__title {
                font-size: 2.1rem;
            }
        }

        &--horizontal-tablet & {
            @include thumbnail-horizontal;

            &__title {
                font-size: 1.6rem;
            }
        }

        &--vertical-tablet & {
            @include thumbnail-vertical;

            &__title {
                font-size: 1.6rem;
            }

            &__image-container {
                height: 15.3rem;
            }

            &__meta {
                padding: .6rem 0 .4rem;
            }
        }

        &--featured & {

            &__title {
                font-size: 2.1rem;
            }

            &__caption {
                padding: 0 1.2rem 1.8rem;
            }
        }

        &__title {
            font-size: 2.1rem;
        }

        &--hero-primary &,
        &--hero-primary-portrait & {

            &__title {
                font-size: 2.1rem;
                line-height: 1.14;
                letter-spacing: -.04rem;
            }

            &__caption {
                flex-basis: unset;
            }
        }

        &--hero-primary-portrait & {

            &__image-container {
                flex-basis: unset;
                padding-top: 100%;
            }
        }

        &--hero-tertiary & {

            &__image-container {
                flex-basis: 41.55%;
                padding-top: calc(62.5% / 100 * 41.55);
            }

            &__caption {
                flex-basis: 58.45%;
            }
        }

        &--modal & {

            &__link {
                margin: .6rem 0;
            }
        }
    }

    @include mq($until: 750px) {

        &__title {
            font-size: 1.8rem;
        }
    }

    @include mq($until: phablet) {

        &__title {
            font-size: 1.6rem;
        }

        &--playlist:not( #{ $this }--search-result ) & {

            &__link {
                flex-direction: row;
                box-shadow: none;
            }

            &__gallery-count {
                font-size: 1.2rem;
                letter-spacing: -.03rem;
                line-height: 1;
                color: $global-ui-grey-800;

                &::before {
                    display: none;
                }
            }

            &__gallery-icon {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: -.5rem;
                fill: $global-ui-grey-800;
            }

            &__gallery-icon,
            &__topic-news {
                display: block;
            }

            &__image-container {
                padding-top: 47%;
                flex-basis: 47%;

                .media-thumbnail__expand-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 5.6rem;
                    height: 5.6rem;
                    fill: $white;
                    margin: 0;
                }
            }

            &__caption {
                position: relative;
                top: auto;
                transform: none;
                flex-basis: 53%;
                padding: 2.5rem 1.2rem 2.4rem;

                .media-thumbnail__expand-icon {
                    display: none;
                }
            }

            &__title {
                font-size: 1.6rem;
                letter-spacing: -.02rem;
                color: $brand-ui-dark;
                line-height: 1.125;
                text-align: left;
                margin-top: .2rem;
            }

            &__meta {
                order: 1;
                justify-content: flex-start;
                margin: 1rem 0 0;
                padding: 0;

                .media-thumbnail__gallery-count {
                    display: none;
                }
            }

            &__date-text {
                color: $global-ui-grey-800;
                font-size: 1.2rem;
            }

            &__topic-news {

                &::before {
                    display: inline-block;
                }
            }

            &__topic-text {
                color: $primary-medium;
                font-size: 1.2rem;
            }

            &__date {

                .icon {
                    fill: $global-ui-grey-800;
                    stroke: $global-ui-grey-800;
                }
            }
        }

        &__type-icon {

            &::before {
                width: 5.4rem;
                height: 3.5rem;
            }

            .icon {
                width: 5rem;
                height: 5rem;
            }
        }

        &--large-thumbnail & {

            &__title {
                font-size: 1.6rem;
            }
        }

        &--featured & {

            &__reading-text,
            &__reading-value {
                display: inline-block;
            }

            &__caption {
                padding: 0 2.4rem 1.8rem;
            }
        }

        &--horizontal-phablet & {
            @include thumbnail-horizontal;

            &__title {
                font-size: 1.6rem;
            }
        }

        &--vertical-phablet & {
            @include thumbnail-vertical;

            &__title {
                font-size: 1.6rem;
            }

            &__image-container {
                height: 15.3rem;
            }

            &__meta {
                padding: .6rem 0 .4rem;
            }
        }

        &--hero-secondary-portrait & {

            &__caption {
                padding: 1.6rem 1.1rem;
            }
        }

        &--video-primary & {

            &__meta {
                border-top: 0;
            }

            &__title {
                font-size: 2.1rem;
            }
        }

        &--search-result {

            #{ $this } {

                &__caption > #{ $this }__gallery-count {
                    display: none;
                }
            }
        }

        &--search-result#{ $this }--playlist {

            #{ $this } {

                &__image-container {

                    &::after {
                        display: none;
                    }

                    #{ $this }__expand-icon {
                        width: 4.8rem;
                        height: 4.8rem;
                        z-index: $level-one;
                    }
                }

                &__topic-news {
                    display: none;
                }
            }
        }
    }

    @include mq($until: 374px) {

        &__title {

            @supports ( -webkit-line-clamp: 2 ) {
                // stylelint-disable-next-line value-no-vendor-prefix
                display: -webkit-box;
                /*! autoprefixer: off */
                // stylelint-disable-next-line property-no-vendor-prefix
                -webkit-box-orient: vertical;
                /* autoprefixer: on */
                -webkit-line-clamp: 2; // truncates the text after two lines
                overflow: hidden;
            }
        }

        &--featured & {

            &__reading-text,
            &__reading-value {
                display: none;
            }
        }

        &--hero-secondary-portrait {

            #{$this}__date-text,
            #{$this}__topic-text {
                font-size: 1.2rem;
                line-height: .83;
            }
        }
    }
}
