.modal-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: scale(.9);
    display: none;
    background-image: linear-gradient(to top, $black, $primary-dark);

    // hide button created from modal code

    .close {
        display: none;
    }

    &.open {
        display: block;
        animation: .5s fadeInModal;
        animation-timing-function: cubic-bezier(.39, .575, .565, 1);
        animation-fill-mode: forwards;
    }

    &.close {
        animation: .3s fadeOutModal;
        animation-timing-function: cubic-bezier(.39, .575, .565, 1);
        animation-fill-mode: forwards;
    }
}

.modal {
    $this: &;
    position: fixed;
    width: 100%;
    height: 100%;
    --bottom-bar-height: 6.4rem;
    --bottom-bar-height-expanded: 13.2rem;

    &__inner-wrapper {
        position: relative;
        height: 100%;
    }

    &.ready {

        #{$this} {

            &__bottom-bar {
                transform: translateY(0);
            }

            &__controls--left {
                transform: translateX(0);
            }

            &__controls--right {
                transform: translateX(0);
            }
        }
    }

    &.expand-items {

        #{$this} {

            &__bottom-bar {
                transform: translateY(-206%);
            }

            &__gallery {
                height: calc(100% - ( var(--bottom-bar-height-expanded) ));
            }

            &__expand--items {

                .modal__expand-up-icon.icon {
                    transform: scaleY(-1);
                }
            }
        }
    }

    &.hover {

        #{$this}__bottom-bar {
            transition: transform .4s .1s;
            transform: translateY(-90%);
        }
    }

    &__loading-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        width: 21rem;
    }

    &__loading.icon {
        fill: $white;
        width: 4.8rem;
        height: 4.8rem;
        margin-right: .2rem;
        animation: loader 1.5s infinite;
    }

    &__loader-title {
        color: $white;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: $bolder;
        letter-spacing: .08rem;
    }

    &__close {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        z-index: $level-five;

        @include hover {

            .icon {
                background-color: $white;
                fill: $primary-dark;
            }
        }
    }

    &__close-icon.icon {
        width: 5.6rem;
        height: 5.6rem;
        fill: $white;
        border-radius: 5.6rem;
        transition: background-color $transition, fill $transition;
    }

    &__content {
        position: relative;
        width: 100%;
        height: calc(100% - var(--bottom-bar-height));
    }

    &__controls {
        position: absolute;
        width: 4.8rem;
        background-color: rgba($black, .25);
        height: 100%;
        z-index: $level-two;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: width $transition, transform .4s ease .35s, opacity $transition, background-color $transition;

        &--right {
            right: 0;
            left: auto;
            transform: translateX(100%);
        }

        &--left {
            transform: translateX(-100%);

            .icon {
                transform: scaleX(-1);
            }
        }

        &.in-active {
            opacity: 0;
        }

        @include hover {
            width: 6rem;
            background-color: $primary-medium;
        }
    }

    &__chevron.icon {
        width: 4.8rem;
        height: 4.8rem;
        fill: $white;
    }

    &__bottom-bar {
        width: 100%;
        height: var(--bottom-bar-height);
        transform: translateY(100%);
        position: relative;
        z-index: $level-four;
        background-color: $white;
        transition: transform $transition .2s;
    }

    &__bottom-bar-header {
        background-color: $white;
        box-shadow: 0 -2px 8px 0 rgba($black, .08);
        backdrop-filter: blur(2px);
        display: flex;
    }

    &__all-items {
        flex-basis: 100%;
        height: var(--bottom-bar-height-expanded);
        width: 100%;
        background-color: $global-ui-grey-100;
        user-select: none;
        position: relative;
    }

    &__slide-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__expanded-list {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0 2.8rem;
        transition: transform $transition;
    }

    .media-list__item {
        position: relative;

        &.is-active {
            position: relative;

            &::before {
                content: attr(data-content);
                font-size: 1.2rem;
                left: -5.4rem;
                letter-spacing: .2rem;
                position: absolute;
                text-transform: uppercase;
                top: 4rem;
                transform: rotate(-90deg);
                transform-origin: center;
                width: 9.8rem;
            }
        }
    }

    &__item-container {
        padding-top: (5 / 8) * 100%;
        background-color: $global-ui-grey-800;
        background-image: url(../i/elements/afl-logo-dark.svg);
        background-size: 7rem;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        position: relative;
    }

    &__expanded-item {
        width: calc(100% / 8);
        position: relative;
        cursor: pointer;
        flex-shrink: 0;
        display: inline-flex;
        padding: 0 .6rem;
        min-height: 10rem;
        max-height: 11rem;
        overflow: hidden;

        .icon {
            width: 4.8rem;
            height: 4.8rem;
            fill: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: $level-two;
            opacity: 0;
            pointer-events: none;
            transition: opacity $transition;
        }

        &.is-selected {

            #{$this}__item-container {

                &::before {
                    content: '';
                    display: block;
                    height: calc(100% - .8rem);
                    width: calc(100% - .8rem);
                    background-image: linear-gradient(to bottom, rgba($black, 0), rgba($black, .6));
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border: solid 4px $primary-medium;
                    z-index: $level-one;
                }

                .icon {
                    opacity: 1;
                }
            }
        }
    }

    &__expand {
        user-select: none;
        display: flex;
        padding: 1.6rem 2rem;
        background-color: rgba($white, 0);
        cursor: pointer;
        align-items: center;
        position: relative;
        transition: background-color $transition;

        @include hover {
            background-color: $global-ui-grey-100;
        }

        &::after {
            content: '';
            width: .1rem;
            height: 4rem;
            background-color: $global-ui-grey-300;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__expand-up-icon.icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: .4rem;
        transition: transform $transition;
    }

    &__thumbnail-control {
        width: 4.8rem;
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $primary-medium;
        z-index: $level-two;
        box-shadow: 0 2px 8px 0 rgba($primary-medium, .25);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: width $transition, opacity $transition;

        .icon {
            width: 3.2rem;
            height: 3.2rem;
            fill: $white;
        }

        &.is-inactive {
            opacity: 0;
            pointer-events: none;
        }

        &--left {

            .icon {
                transform: scaleX(-1);
            }
        }

        &--right {
            right: 0;
            left: auto;
        }

        @include hover {
            width: 6rem;
        }
    }

    &__cta-text {
        font-size: 1.6rem;
        font-weight: $bold;
        line-height: 1.125;
        letter-spacing: -.02rem;
        color: $global-ui-grey-800;
    }

    &__playlist-count {
        background-color: $primary-medium;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 3.2rem;
        box-shadow: 0 2px 8px 0 rgba($primary-medium, .25);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.2rem;
    }

    &__count-text {
        font-size: 1.4rem;
        font-weight: $bold;
        color: $white;
        letter-spacing: -.04rem;
        line-height: 1;
        margin-left: -.2rem;
    }

    .social-share {
        margin-left: auto;
        user-select: none;
    }

    &__main {
        width: 100%;
        height: 100%;
        transition: opacity $transition;

        &.in-active {
            display: none;
            opacity: 0;
        }
    }

    &__intro-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $level-two;
        user-select: none;
        transition: opacity .3s ease;
    }

    &__intro-image {
        user-select: none;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: $level-one;
            background-image: linear-gradient(to bottom, rgba($black, .3), rgba($black, .7) 51%, rgba($black, .75));
        }
    }

    &__intro-title {
        font-size: 6.7rem;
        font-weight: $bold;
        line-height: 1;
        letter-spacing: -.4rem;
        color: $white;
        text-align: center;
        max-width: 70.8rem;
        margin: 0 auto .8rem;
    }

    &__intro-summary {
        font-size: 1.6rem;
        line-height: 1.5;
        color: $white;
        text-align: center;
        max-width: 46.4rem;
        margin: 0 auto;
    }

    &__intro-date {
        margin: 2.4rem auto 0;
        font-size: 1.4rem;
        text-align: center;
        font-style: italic;
        font-weight: $light;
        line-height: 1.14;
        letter-spacing: -.02rem;
        color: $white;
        display: block;

        &--alt {
            font-style: normal;
            font-weight: $bold;
        }
    }

    &__intro-button-cta {
        @include button-reset;
        background-color: $secondary-light;
        padding: 1.2rem 3rem 1.4rem;
        font-size: 1.6rem;
        line-height: .875;
        letter-spacing: .1rem;
        min-width: auto;
        width: 17rem;
        display: block;
        color: $white;
        font-weight: $bolder;
        text-transform: uppercase;
        text-align: center;
        margin: 3.6rem auto 0;
    }

    &__intro-meta {
        justify-content: center;
    }

    &__intro-meta,
    &__topic-news,
    &__gallery-count,
    &__video-duration {
        display: flex;
        align-items: center;
    }

    &__video-duration {
        padding-left: .8rem;
    }

    &__topic-text {
        font-size: 1.8rem;
        color: $white;
        line-height: .8;
        font-weight: $bold;
        letter-spacing: -.06rem;
    }

    &__topic-news-icon.icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: $white;
        margin-right: .4rem;
    }

    &__topic-news {
        position: relative;
        padding-right: .8rem;

        &::after {
            content: '';
            display: block;
            right: 0;
            position: absolute;
            height: 1.6rem;
            width: .1rem;
            background-color: rgba($white, .15);
        }
    }

    &__gallery-count,
    &__duration-text {
        font-size: 1.8rem;
        font-weight: $regular;
        letter-spacing: -.06rem;
        line-height: .8;
        color: $white;

        &--alt {
            font-weight: $bold;
            margin: -.15rem .4rem 0 0;
        }
    }

    &__duration-text {

        &--alt {
            align-self: flex-start;
            color: $white;
            font-size: 1rem;
            margin: 0;
            padding-left: .2rem;
            text-transform: uppercase;
        }
    }

    &__gallery-icon.icon {
        width: 3.2rem;
        height: 3.2rem;
        fill: $white;
        margin-right: .4rem;
    }

    &__duration-icon.icon {
        width: 2rem;
        height: 2rem;
        fill: $white;
        margin-right: .2rem;
    }

    &__animate-me {
        opacity: 0;

        &.fade-up {
            animation-name: fadeInModalUpModal;
            animation-duration: 1000ms;
            animation-timing-function: cubic-bezier(.39, .575, .565, 1);
            animation-fill-mode: forwards;
        }
    }

    &__gallery {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: $level-two;
        background-image: linear-gradient(to top, $black, $primary-dark);
        pointer-events: none;
        transition: opacity .4s ease, height $transition .2s;

        &.show {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__gallery-item {
        user-select: none;
        opacity: 0;
        display: flex;
        justify-content: center;
        transition: opacity .4s ease;

        &.is-active {
            opacity: 1;
        }

        &.is-portrait .object-fit-cover-picture {
            width: 58rem;
            height: 100%;
            position: relative;
            margin: auto;
            display: block;
        }

        .object-fit-cover-picture__img {
            width: auto;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__photo-details {
        position: absolute;
        bottom: 0;
        background-color: rgba($black, .7);
        color: $white;
        font-size: 1.4rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.1rem 3rem;
    }

    &__photo-index-count {
        background-color: $primary-medium;
        border-radius: 2px;
        padding: .4rem .8rem;
        margin-right: .88rem;
    }

    &__photo-title,
    &__photo-description {
        flex: 1 0 auto;
    }

    &__photo-title {
        font-size: 1.4rem;
        letter-spacing: -.023rem;
        font-weight: $bold;
    }

    &__photo-description {
        font-size: 1.4rem;
        line-height: 1;
        font-weight: $regular;
        margin-left: .6rem;
    }

    &--video {

        &.user-inactive {

            &:not( .overlay-active ) {

                // only hide the close & fullscreen button container if the video overlay is not active and the user is inactive

                #{$this}__top-controls {
                    display: none;
                }
            }
        }

        &.expand-items {

            #{$this} {

                &__bottom-bar {
                    transform: translateY(-18rem);
                }
            }
        }

        #{$this} {

            &__top-controls {
                position: absolute;
                top: 1.6rem;
                left: auto;
                right: 1.6rem;
                height: 5.6rem;
                width: auto;
                display: flex;
                background-color: rgba($black, .6);
                z-index: $level-five;
                border-radius: .4rem;
                flex-direction: row-reverse;

                &::before {
                    content: '';
                    width: 5.6rem;
                    height: 5.6rem;
                    display: block;
                    background-color: rgba($black, .6);
                    filter: blur(20px);
                    position: absolute;
                }
            }

            &__close,
            &__full-screen {
                top: auto;
                right: auto;
                left: auto;
                width: 5.6rem;
                height: 5.6rem;
                border-radius: 4px;
                overflow: hidden;
                transform: scale(1);
                position: relative;

                .icon {
                    transition: transform $transition;
                }

                @include hover {

                    .icon {
                        background-color: rgba($white, 0);
                        fill: $white;
                        transform: scale(.9);
                    }
                }
            }

            &__full-screen {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__fullscreen-icon {
                width: 4.2rem;
                height: 4.2rem;
            }

            &__close-icon,
            &__fullscreen-icon {
                z-index: $level-one;
                position: absolute;
            }

            &__video-player {
                align-items: center;
                background-color: $black;
                bottom: 0;
                display: flex;
                justify-content: center;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: opacity $transition;
                visibility: hidden;
                z-index: $level-three;

                &.is-active {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &__intro-image::after {
                background: rgba($black, .75);
            }

            &__intro-content {
                left: 7rem;
                top: 50%;
                transform: translate(0, -50%);
                width: 40%;
                z-index: $level-one;
            }

            &__intro-meta {
                justify-content: flex-start;
                margin-bottom: 1.6rem;
            }

            &__intro-title {
                line-height: 1.06;
                margin: 0 0 1.6rem;
                max-width: 58.6rem;
                text-align: left;
            }

            &__intro-summary {
                line-height: 1.56;
                margin: 0;
                text-align: left;
            }

            &__intro-date {
                margin-top: 3.8rem;
                text-align: left;
            }

            &__intro-play-button {
                @include button-reset;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: $level-two;

                &::before {
                    background-color: $secondary-dark;
                    border-radius: 4px;
                    box-shadow: 0 1px 4px 0 rgba($black, .5);
                    content: '';
                    height: 7.5rem;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(.95);
                    transition: opacity $transition, transform $transition;
                    width: 12rem;
                }

                @include hover {

                    &::before {
                        opacity: 1;
                        transform: translate(-50%, -50%) translate3d(0, 0, 0) scale(1);
                    }

                    #{$this}__play-icon.icon {
                        fill-opacity: 1;
                        transform: scale(.8);
                    }
                }
            }

            &__play-icon.icon {
                fill-opacity: .65;
                height: 12rem;
                transition: transform $transition, fill-opacity $transition;
                width: 12rem;
            }

            &__social-share-container {
                margin-left: auto;
                display: flex;
                justify-content: center;

                .social-share {
                    margin-left: 0;
                }
            }
        }
    }

    &__checkbox {
        background-color: $global-ui-grey-100;
        display: flex;
        height: 4.8rem;
        padding-left: 3.2rem;

        .custom-checkbox__label {
            font-size: 1.2rem;
            letter-spacing: -.037rem;
            padding-right: 5.4rem;

            &::before {
                border-width: 2px;
                border-radius: 1.2rem;
                height: 2rem;
                width: 4.4rem;
            }

            &::after {
                height: 2rem;
                right: .2rem;
                transform: translate(-2.4rem, -50%);
                width: 2rem;
            }
        }
    }

    &__up-next {
        border-left: 1px solid rgba($white, .1);
        bottom: 8rem;
        padding: 0 4rem;
        position: absolute;
        right: 3rem;
        width: 32.4rem;
        z-index: $level-three;
    }

    &__up-next-title {
        color: $white;
        font-size: 2.1rem;
        font-weight: $bold;
        letter-spacing: -.05rem;
        margin-bottom: .8rem;
    }

    &__autoplayin {
        align-items: center;
        background-color: rgba($black, .7);
        border: 1px solid rgba($white, .5);
        border-radius: 1.6rem;
        bottom: 2.4rem;
        box-shadow: 0 6px 10px 0 $black;
        display: flex;
        height: 3.2rem;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        z-index: $level-four;
    }

    &__autoplayin-label {
        color: $white;
        font-size: 1.2rem;
        font-weight: $bold;
        letter-spacing: .08rem;
        padding: 0 4rem 0 1.9rem;

        strong {
            font-size: 1.6rem;
            font-weight: $bolder;
        }

        &::before {
            background-color: $white;
            border-radius: 100%;
            content: '';
            height: 2.2rem;
            margin-left: .8rem;
            position: absolute;
            right: .4rem;
            top: .4rem;
            width: 2.2rem;
        }

        &::after {
            border-color: transparent transparent transparent $black;
            border-style: solid;
            border-width: .5rem 0 .5rem .9rem;
            box-sizing: border-box;
            content: '';
            height: 1rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            transition: .1s ease;
        }
    }

    &__autoplayin-input {
        display: none;

        &:checked + #{$this}__autoplayin-label {

            &::after {
                border-style: double;
                border-width: 0 0 0 .8rem;
            }
        }
    }

    @include mq( $from: wide ) {

        &__item-container {
            height: 100%;
            padding-top: 0;
        }

        &__expanded-item {
            min-height: 11rem;
        }
    }

    @include mq( $until: wide ) {

        &__up-next {
            right: 0;
        }

        &--video #{$this} {

            &__intro-content {
                left: 4rem;
            }

            &__intro-title {
                font-size: 5.8rem;
                letter-spacing: -.3rem;
            }
        }
    }

    @include mq( $until: desktop ) {

        &__intro-content {
            width: 80%;
        }

        &__intro-title {
            font-size: 4.7rem;
            max-width: none;
        }

        &__up-next {
            bottom: 4rem;
        }

        &--video #{$this} {

            &__intro-content {
                bottom: 4rem;
                max-width: 50%;
                top: auto;
            }

            &__intro-title {
                font-size: 3.8rem;
                letter-spacing: -.3rem;
            }

            &__intro-summary {
                font-size: 1.4rem;
            }

            &__intro-date {
                font-size: 1.2rem;
            }
        }
    }

    @include mq( $from: tablet ) {

        .social-share__copy-message {
            left: auto;
            right: -1rem;
            transform: none;

            &::before {
                left: auto;
                right: 1.6rem;
            }
        }
    }

    @include mq( $from: phablet, $until: tablet ) {

        .social-share {
            padding: 1rem 0;
        }
    }

    @include mq( $until: tablet ) {

        &__main {
            height: 0;
            padding-top: $aspect-3-4;
            position: relative;
        }

        &__intro-content {
            top: auto;
            transform: translateX(-50%);
            bottom: .8rem;
        }

        &__close {
            position: fixed;
            right: .8rem;

            .modal__close-icon.icon {
                width: 3.2rem;
                height: 3.2rem;
            }
        }

        &__social-share-container {
            z-index: $level-two;
            background-color: $white;
            box-shadow: 0 -2px 8px 0 rgba($black, .08);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            transform: translateY(100%);
            transition: transform $transition;

            &.is-active {
                transform: translateY(0);
            }
        }

        .social-share {
            justify-content: center;
        }

        &__intro-chevron.icon {
            margin: 1.6rem auto 0;
            width: 3.2rem;
            height: 3.2rem;
            fill: $white;
            transform: rotate(90deg);
        }

        &__intro-image {

            &::after {
                top: 0;
            }
        }

        &__intro-title {
            font-size: 2.8rem;
            line-height: 1.14;
            letter-spacing: -.06rem;
        }

        &__intro-summary {
            font-size: 1.2rem;
            line-height: 1.58;
        }

        &__topic-text,
        &__gallery-count {
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: -.05rem;
        }

        &__intro-date {
            font-size: 1.2rem;
        }

        &__controls,
        &__bottom-bar,
        &__intro-button-cta {
            display: none;
        }

        &__inner-wrapper {
            overflow: auto;
        }

        &__gallery {
            position: relative;
            left: auto;
            top: auto;
            opacity: 1;
            height: auto;
            padding: 4rem 0 7.6rem;
        }

        &__gallery-list {
            display: flex;
            flex-direction: column;
        }

        &__gallery-item {
            opacity: 1;
            position: relative;
            flex-direction: column;

            .lazy-image-wrapper {
                padding-top: (78 / 125) * 100%;
                position: relative;
                width: 100%;
                height: auto;
            }

            .object-fit-cover-picture {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }

            &.is-portrait {

                .lazy-image-wrapper {
                    padding-top: (32 / 25) * 100%;
                }

                .object-fit-cover-picture {
                    width: 100%;
                    position: absolute;
                }
            }
        }

        &__photo-details {
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 2rem 1.2rem 2.4rem;
            background-color: rgba($black, 0);
        }

        &__photo-title {
            font-size: 1.6rem;
            line-height: 1.125;
            letter-spacing: -.02rem;
            margin-bottom: .8rem;
            word-break: break-word;
        }

        &__photo-description {
            margin: 0;
            font-size: 1.2rem;
            opacity: .7;
            line-height: 1.5;
        }

        &__photo-index-count {
            position: absolute;
            top: -1rem;
            font-size: 1.1rem;
            font-weight: $light;
        }

        &__loading.icon {
            width: 4rem;
            height: 4rem;
        }

        &__loader-title {
            font-size: 1.4rem;
            letter-spacing: .06rem;
            line-height: 1.6rem;
        }

        &--video {

            .media-list__item {
                display: block;

                &.is-active {
                    padding-top: 2.2rem;

                    &::before {
                        left: 0;
                        top: .4rem;
                        transform: none;
                    }
                }
            }

            &.user-inactive {

                // hide the fullscreen button if the user is inactive

                #{$this}__full-screen {
                    display: none;
                }
            }

            #{$this} {

                &__top-controls {
                    height: 4.4rem;
                }

                &__close,
                &__full-screen {
                    width: 4.4rem;
                    height: 4.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &__fullscreen-icon {
                    width: 3.2rem;
                    height: 3.2rem;
                }

                &__video-player {
                    bottom: auto;
                    height: 0;
                    padding-top: $aspect-4-3;

                    .video-js {
                        height: 0;
                        padding-top: $aspect-4-3;
                        position: absolute;
                        top: 0;
                    }
                }

                &__main {
                    height: auto;
                    padding-top: 0;
                }

                &__content {
                    background-color: $white;
                    height: auto;
                }

                &__intro-image {
                    height: 0;
                    padding-top: $aspect-4-3;
                    position: relative;
                }

                &__play-icon.icon {
                    height: 6.4rem;
                    width: 6.4rem;
                }

                &__intro-content {
                    padding: 1.8rem 1.2rem;
                    position: static;
                    transform: none;
                    max-width: none;
                    width: auto;
                }

                &__intro-meta {
                    margin-bottom: 1rem;
                }

                &__topic-news-icon.icon {
                    fill: $primary-medium;
                    height: 2rem;
                    width: 2rem;
                }

                &__duration-icon.icon {
                    fill: $primary-medium;
                    height: 1.6rem;
                    margin-right: 0;
                    width: 1.6rem;
                }

                &__topic-text,
                &__duration-text {
                    color: $primary-medium;
                }

                &__video-duration {
                    padding-left: .3rem;
                }

                &__duration-text {
                    font-size: 1.6rem;
                    letter-spacing: normal;
                }

                &__intro-title {
                    color: $primary-dark;
                    letter-spacing: -.144rem;
                    margin-bottom: 1.3rem;
                }

                &__intro-summary {
                    color: $global-ui-grey-600;
                    line-height: 1.58;
                }

                &__intro-date {
                    color: $global-ui-grey-800;
                    margin-top: 1.6rem;
                }

                &__bottom-bar {
                    background-color: $white;
                    display: block;
                    height: auto;
                    padding: 0 1.2rem;
                    transform: none !important;
                }

                &__bottom-bar-header {
                    backdrop-filter: none;
                    border-bottom: 1px solid $global-ui-grey-300;
                    border-top: 1px solid $global-ui-grey-300;
                    box-shadow: none;
                    height: 5.2rem;
                }

                &__expand {
                    display: none;

                    &--items {
                        display: flex;
                        padding: 1rem 0;

                        &::after {
                            display: none;
                        }
                    }
                }

                &__all-items {
                    background-color: $white;
                    height: auto;
                    padding-bottom: 4.4rem;
                }

                &__thumbnail-control,
                &__expand-up-icon.icon {
                    display: none;
                }

                &__cta-text {
                    order: 1;
                }

                &__playlist-count {
                    margin-left: 0;
                    margin-right: 1.2rem;
                }

                &__slide-container {
                    height: auto;
                }

                &__expanded-list {
                    flex-direction: column;
                    margin: .6rem 0;
                }
            }
        }

        &__autoplayin {
            border: 1px solid rgba($white, .2);
            bottom: 1.6rem;
            height: 2.4rem;
        }

        &__autoplayin-label {
            font-size: .9rem;
            letter-spacing: .06rem;
            line-height: 2;

            &::before {
                height: 1.6rem;
                right: .3rem;
                top: .3rem;
                width: 1.6rem;
            }

            &::after {
                border-width: .3rem 0 .3rem .6rem;
                height: .7rem;
                right: .8rem;
            }

            strong {
                font-size: 1.2rem;
            }
        }

        &__autoplayin-input {

            &:checked + #{$this}__autoplayin-label {

                &::after {
                    border-width: 0 0 0 .6rem;
                }
            }
        }

        &__checkbox {
            background-color: transparent;
            height: 5.2rem;
            position: absolute;
            right: 1.2rem;
            top: 0;
        }
    }

    @include mq( $until: phablet ) {

        .social-share {

            &__modal {
                transform: translateY(-90%);
            }

            &.is-open {

                .social-share__modal {
                    transform: translateY(-100%);
                }
            }
        }
    }
}

.promo-modal {

    .modal__bottom-bar {
        display: none;
    }
}

.promo-modal.promo-title {

    .modal__intro-title {
        opacity: 1;
    }
}

@include mq( $until: tablet ) {

    .promo-modal.modal--video {

        .modal__content {
            height: 100vh;
        }
    }
}

@keyframes fadeInModalUpModal {

    from {
        opacity: 0;
        transform: translateY(4.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInModal {

    0% {
        opacity: 0;
        transform: scale(.9);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes fadeOutModal {

    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    30% {
        opacity: .8;
    }

    75% {
        opacity: .3;
    }

    99% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes loader {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
