// base styling for the more nav functionality based on default classes

@include mq($from: tablet) {

    .more {
        display: none;
    }

    .showMoreEnabled {

        .is-hidden {
            display: none;
        }

        .more {
            display: inline-block;
        }
    }
}

@include mq($until: tablet) {

    .showMoreEnabled .more {
        display: none;
    }
}
