.pager {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__container {
        margin: 0 .6rem;
    }

    &__button {
        outline: 1px solid #000;
        border: 0;
        width: 3.2rem;
        height: .8rem;

        &.is-active {
            background: $primary;
        }
    }
}
