.parallax-content {
    $this: &;
    height: 46rem;
    overflow: hidden;
    position: relative;

    &__content {
        align-items: center;
        background-color: rgba($primary-dark, .8);
        color: $white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 $layout-padding;
        position: relative;
        text-align: center;
        transition: $transition;

        &.is-active {

            #{$this} {

                &__title,
                &__description,
                &__button {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    &__link {
        @include link-reset;

        @include hover {

            #{$this}__title {
                text-decoration: underline;
            }
        }
    }

    &__label {
        font-size: 2.8rem;
        font-weight: $bolder;
        letter-spacing: .2rem;
        line-height: .93;
        margin-bottom: 3.2rem;
        text-transform: uppercase;
    }

    &__topic-news {
        align-items: center;
        display: flex;
        margin-bottom: 1.2rem;
        margin-left: -.5rem;
    }

    .icon {
        height: 2.4rem;
        fill: $white;
        width: 2.4rem;
    }

    &__topic-text {
        font-size: 1.8rem;
        font-weight: $bold;
        letter-spacing: -.06rem;
        line-height: .89;
        margin-left: .4rem;
    }

    &__title {
        font-size: 5rem;
        font-weight: $bold;
        line-height: 1.08;
        letter-spacing: -.091rem;
        margin-bottom: 1.2rem;
        max-width: 70.8rem;
        opacity: 0;
        transform: translateY(4rem);
        transition: .5s ease-in;
    }

    &__description {
        font-size: 1.4rem;
        font-weight: $regular;
        line-height: 1.64;
        max-width: 46.4rem;
        opacity: 0;
        transform: translateY(4rem);
        transition: .5s ease-in .15s;
    }

    &__button {
        margin-top: 2.4rem;
        opacity: 0;
        transform: translateY(4rem);
        transition: .5s ease-in .2s;
    }

    @include mq($until: phablet) {

        &__label {
            font-size: 2.1rem;
            font-weight: $bolder;
            letter-spacing: .15rem;
            line-height: 1;
            margin-bottom: 2.4rem;
        }

        &__topic-news {
            margin-bottom: .8rem;
        }

        &__topic-text {
            font-size: 1.6rem;
            letter-spacing: -.053rem;
            line-height: 1;
        }

        &__title {
            font-size: 2.8rem;
            line-height: 1.14;
            letter-spacing: -.06rem;
            margin-bottom: .8rem;
        }

        &__description {
            font-size: 1.2rem;
            line-height: 1.58;
        }
    }
    @include mq($from: tablet) {

        .lazy-image-wrapper {
            height: 100vh;
            will-change: transform;
        }
    }
}
