.player-card {
    outline: 1px solid #000;

    &__image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__player-image {

        &--error {
            display: none;
        }
    }

    &__stats-list {
        @include clearfix;
        margin-bottom: 1.6rem;
    }

    &__stats-label {
        clear: both;
        float: left;
    }

    &__stats-info {
        float: right;
    }

    &__footer {
        clear: both;
    }

    &__cta {
        width: 100%;
        background: $primary;
    }

    &__meta {
        display: block;
        text-align: center;

        &--number {
            font-size: 4.8rem;
            font-weight: $bolder;
        }
    }
}
