.placeholder {
    position: relative;
    background: $grey-light;
    overflow: hidden;

    &::before { // background logo
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../i/elements/placeholder.svg);
        background-size: 11rem;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &--small {

        &::before {
            background-size: 42%;
        }
    }

    &--medium {

        &::before {
            background-size: 68%;
        }
    }

    &--large {

        &::before {
            background-size: 84%;
        }
    }

    &--full {

        &::before {
            background-size: 100%;
        }
    }

    &--xlarge {

        &::before {
            background-size: 108%;
        }
    }

    &--dark {

        &::before {
            background-color: $bg-placeholder;
            background-image: url(../i/elements/afl-logo-dark.svg);
        }
    }

    @include mq($until: phablet) {

        &--small-mobile {

            &::before {
                background-size: 42%;
            }
        }

        &--medium-mobile {

            &::before {
                background-size: 68%;
            }
        }

        &--large-mobile {

            &::before {
                background-size: 84%;
            }
        }
    }
}
