.related-items {
    $this: &;

    &__title {
        align-items: flex-end;
        color: $brand-ui-dark;
        display: flex;
        font-size: 2.1rem;
        font-weight: $bold;
        justify-content: space-between;
        letter-spacing: -.05rem;
        line-height: 1.14;
        margin-bottom: 1.5rem;
    }

    &__sub-title {
        color: $global-ui-grey-600;
        font-size: 1.2rem;
        font-weight: $regular;
    }

    &__link {
        @include link-reset;
        align-items: center;
        border-bottom: 1px dashed $global-ui-grey-300;
        display: flex;
        padding: 1.2rem 0;

        @include hover {

            #{$this}__item-title {
                text-decoration: underline;
            }

            #{$this}__date-text {
                text-decoration: none;
            }
        }
    }

    &__item-icon.icon {
        fill: $primary-medium;
        flex-shrink: 0;
        height: 3.2rem;
        margin-right: .8rem;
        width: 3.2rem;
    }

    &__content {

        @include hover {

            #{$this}__item-title {
                text-decoration: underline;
            }

            #{$this}__date-text {
                text-decoration: none;
            }
        }
    }

    &__item-title {
        color: $global-ui-grey-800;
        font-size: 1.4rem;
        font-weight: $regular;
        line-height: 1.14;
    }

    &__date-text {
        color: $global-ui-grey-600;
        display: block;
        font-size: 1rem;
        font-weight: $bold;
        letter-spacing: -.02rem;
        line-height: 1.2;
    }

    @include mq($until: tablet) {
        background-color: $global-ui-grey-100;
        margin-left: -1.2rem;
        margin-right: -1.2rem;
        padding: 1.2rem 1.2rem 1.8rem;

        &__item-title {
            font-size: 1.2rem;
            line-height: 1.17;
        }
    }
}
