.slider {
    $this: &;
    overflow-x: hidden;

    .will-animate {
        transition: left .5s $quick-bezier, transform .3s $quick-bezier;
    }

    &__wrapper {
        position: relative;
    }

    &__list {
        display: flex;
        position: relative;
        left: 0;
        will-change: left;
        margin: 0 -.6rem;
    }

    &__item {
        width: 25%;
        position: relative;
        display: inline-flex;
        flex-shrink: 0;
        padding: 0 .6rem;
        pointer-events: none;
        transition: opacity .6s;

        &.is-active {
            pointer-events: all;
        }
    }

    &--playlist & {

        &__item {
            width: calc(100% / 6);
        }
    }

    &--three & {

        &__item {
            width: calc(100% / 3);
        }
    }

    &--four & {

        &__item {
            width: 25%;
        }
    }

    &--mc { // Match centre
        overflow: visible;

        .will-animate {
            transition: left .75s $quick-bezier, transform .5s $quick-bezier;
        }

        #{ $this } {

            &__item {
                display: block;
                opacity: .2;
                transition: opacity 1s ease;

                &.is-active {
                    opacity: 1;
                }
            }
        }
    }

    @include mq($until: wide) {

        &--mc { // Match centre

            #{ $this } {

                &__item {
                    width: 45%;
                }
            }
        }
    }

    @include mq($until: desktop) {

        &__item {
            width: percentage(1/3);
        }

        &--playlist & {

            &__item {
                width: 25%;
            }
        }
    }

    @include mq($until: tablet) {
        // implement scroll on tablet and smaller

        @include manual-scroll( '.slider', 24.6rem, 1.2rem, 2.2rem );

        .will-animate {
            transition: none;
        }

        &__list {
            padding-bottom: 1.2rem;
        }

        &__item {
            padding: 0;
            pointer-events: all;
        }

        &--mc { // Match centre

            .will-animate {
                transition: none;
            }

            #{ $this } {

                &__item {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }

    @include mq($until: phablet) {

        &__item {
            width: 24.6rem;
            min-width: auto;
        }

        &--mc { // Match centre

            #{ $this } {

                &__item {
                    width: 62.5%;
                }
            }
        }
    }
}
