.slider-controls {
    $this: &;
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;

    &__button-container {
        position: absolute;
        height: 100%;
        width: auto;

        &.is-inactive {

            #{$this}__button {
                opacity: 0;
                background-color: $white;
                pointer-events: none;
                user-select: none;
                cursor: default;
            }

            &::after,
            &::before {
                opacity: 0;
            }
        }

        &--prev {
            left: 0;

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                height: 100%;
                width: 1px;
                z-index: $level-one;
                opacity: 1;
                left: -3.7rem;
                box-shadow: 0 -4px 12px 4px rgba($black, .2);
            }
        }

        &--next {
            right: 0;

            &::after {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                height: 100%;
                width: 1px;
                z-index: $level-one;
                opacity: 1;
                right: -3.7rem;
                box-shadow: 0 -4px 12px 4px rgba($black, .2);
            }
        }
    }

    &__button {
        @include button-reset;
        width: 4.8rem;
        height: 12rem;
        position: absolute;
        top: 50%;
        background-color: $primary-medium;
        transform: translateY(-50%);
        display: inline-block;
        z-index: $level-one;
        transition: opacity $transition, background-color $transition, width $transition;

        &--prev {
            left: -3.6rem;
            right: auto;
        }

        &--next {
            right: -3.6rem;
            left: auto;
        }

        @include hover {
            background-color: darken($primary-medium, 5%);

            .slider-controls__button-icon {
                fill: $white;
            }

            &.slider-controls__button--next,
            &.slider-controls__button--prev {
                width: 6rem;
            }
        }

        .icon {
            width: 3.2rem;
            height: 3.2rem;
            fill: $white;
        }
    }

    &__button-icon {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: $white;
        transition: fill $transition;

        // optically horizontally align chevrons

        &--prev {
            left: 46%;
            transform: translate(-50%, -50%) scaleX(-1);
        }

        &--next {
            left: 52%;
        }
    }

    &--mc { // match centre

        #{ $this } {

            &__button-container {

                &--prev,
                &--next {

                    &::before,
                    &::after {
                        display: none;
                    }
                }

                &.is-inactive {

                    #{$this}__button {
                        background-color: transparent;
                    }
                }
            }

            &__button {
                height: calc(100% - 4.4rem);
                width: 50vw;
                top: auto;
                bottom: 0;
                transform: none;
                background-color: transparent;
                display: inline-block;
                z-index: $level-one;

                &--prev {
                    left: auto;
                    right: 0;
                }

                &--next {
                    left: 0;
                    right: auto;
                }

                @include hover( $focus: false ) {
                    background-color: transparent;

                    .slider-controls__button-icon {
                        fill: $global-ui-grey-800;
                    }

                    &.slider-controls__button--next,
                    &.slider-controls__button--prev {
                        width: 4.8rem;
                    }

                    .icon {

                        &.slider-controls__button-icon--next {
                            transform: translateY(-50%) translateX(1rem);
                        }

                        &.slider-controls__button-icon--prev {
                            transform: translateY(-50%) scaleX(-1) translateX(1rem);
                        }
                    }
                }

                .icon {
                    width: 4.8rem;
                    height: 4.8rem;
                    fill: $global-ui-grey-800;
                    transition: transform $transition;

                    &.slider-controls__button-icon--next {
                        left: 0;
                        transform: translateY(-50%);
                    }

                    &.slider-controls__button-icon--prev {
                        right: 0;
                        left: auto;
                        transform: translateY(-50%) scaleX(-1);
                    }
                }
            }
        }
    }

    @include mq($until: tablet) {
        display: none;
    }
}
