.slider-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.4rem 0;

    &__item {
        display: block;
    }

    &__button {
        @include button-reset;
        width: 1.6rem;
        height: 1.6rem;
        position: relative;
        margin: 0;

        &::after {
            content: '';
            width: .6rem;
            height: .6rem;
            border-radius: .6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba($global-ui-grey-800, .25);
            transition: background-color $transition;
        }

        @include hover {

            &::after {
                background-color: rgba($global-ui-grey-800, .65);
            }
        }

        &.is-active {

            &::after {
                height: .8rem;
                width: .8rem;
                background-color: $global-ui-grey-800;
            }
        }
    }

    &--round-centre {
        padding: 0;
    }
}
