.social-share {
    $this: &;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__label {
        color: $global-ui-grey-800;
        position: relative;
        z-index: $level-one;
    }

    &__options {
        display: flex;
        margin: 0 1.2rem;
    }

    &__option {
        @include button-reset;
        display: flex;
        margin: 0 1.2rem;
        position: relative;

        @include hover {

            > .icon {
                fill: $primary-medium;
            }
        }

        &--facebook {

            @include hover {

                .icon {
                    fill: $facebook;
                }
            }
        }

        &--twitter {

            @include hover {

                .icon {
                    fill: $twitter;
                }
            }
        }

        &--whatsapp {

            @include hover {

                .icon {
                    fill: $whatsapp;
                }
            }
        }

        &.is-active {

            #{$this}__copy-message {
                opacity: 1;
            }
        }

        .icon {
            height: 100%;
            margin: auto;
            fill: $global-ui-grey-600;
            transition: fill $transition;
            width: 100%;
        }
    }

    &__copy-message {
        align-items: center;
        background: $primary-medium;
        border-radius: 1.4rem;
        bottom: 100%;
        color: #fff;
        display: flex;
        font-size: 1.2rem;
        font-weight: $bold;
        left: 50%;
        letter-spacing: -.02rem;
        line-height: 1;
        opacity: 0;
        padding: .2rem 1.2rem .2rem .6rem;
        position: absolute;
        transform: translateX(-50%);
        transition: opacity $transition;
        white-space: nowrap;

        &::before { // downward arrow
            border: .7rem solid transparent;
            border-top-color: $primary-medium;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
            width: 0;
        }

        .icon {
            display: inline-block;
            fill: $white;
            height: 2.4rem;
            margin-right: .6rem;
            width: 2.4rem;
        }
    }

    &__button-text {
        display: none;
    }

    &--small {

        #{$this} {

            &__label {
                font-size: 1.4rem;
                font-weight: $light;
            }

            &__option {
                height: 3.2rem;
                margin: 0;
                width: 3.2em;
            }

            &__button-text--small {
                display: block;
            }
        }
    }

    &--large {
        @include wrapper;

        &::after {
            background-image: $primary-gradient-dark;
            box-shadow: 0 2px 8px 0 rgba($secondary-dark, .25);
            content: '';
            flex-grow: 1;
            height: .4rem;
            display: block;
        }

        #{$this} {

            &__label {
                font-size: 3.7rem;
                letter-spacing: -.12rem;
                font-weight: $bold;
            }

            &__option {
                height: 4.4rem;
                width: 4.4rem;
            }

            &__button {
                align-items: center;
                background-color: $primary-medium;
                color: $white;
                display: flex;
                font-size: 1.6rem;
                font-weight: $bolder;
                justify-content: center;
                letter-spacing: .1rem;
                padding: .7rem 1.2rem;
                text-transform: uppercase;
                width: 100%;

                .icon {
                    fill: $white;
                    height: 2.4rem;
                    order: 1;
                    position: static;
                    transform: translateY(0);
                    width: 2.4rem;
                }
            }

            &__button-text--large {
                display: block;
            }
        }
    }

    @include mq($until: phablet) {

        &.is-open {

            &::before {
                opacity: 1;
                visibility: visible;
            }

            #{$this} {

                &__modal {
                    opacity: 1;
                    transform: translateY(-50%);
                    visibility: visible;
                }

                &__options {
                    display: block;
                    margin: 2rem 1.2rem 3.2rem;
                }

                &__option {
                    color: $white;
                    display: block;
                    font-size: 1.6rem;
                    font-weight: $bolder;
                    height: 4rem;
                    margin: 1.2rem 0;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;

                    &--facebook {
                        background-color: $facebook;
                    }

                    &--twitter {
                        background-color: $twitter;
                    }

                    &--whatsapp {
                        background-color: $whatsapp;
                    }

                    &--copy {
                        background-color: $primary-medium;
                    }

                    .icon {
                        fill: $white;
                        height: 2.4rem;
                        left: .8rem;
                        position: absolute;
                        width: 2.4rem;
                    }
                }

                &__copy-message {
                    bottom: 0;
                    display: block;
                    font-size: 1.6rem;
                    font-weight: $bolder;
                    height: 4rem;
                    left: 0;
                    line-height: 2.3;
                    right: 0;
                    top: 0;
                    transform: none;

                    &::before {
                        display: none;
                    }

                    .icon {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &::before {
            background-color: rgba($white, .8);
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0;
            position: fixed;
            right: 0;
            top: 0;
            transition: opacity $transition;
            visibility: hidden;
            z-index: $level-two;
        }

        &::after {
            display: block;
            left: 1.2rem;
            position: absolute;
            right: 1.2rem;
            top: 1.4rem;
        }

        &__modal {
            background-color: $white;
            box-shadow: 0 8px 20px 0 rgba($black, .15);
            display: block;
            left: 1.2rem;
            opacity: 0;
            position: fixed;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-40%);
            transition: opacity $transition, transform $transition;
            visibility: hidden;
            z-index: $level-three;
        }

        &__close {

            .icon {
                fill: $brand-ui-dark;
                height: 3.2rem;
                position: absolute;
                right: .8rem;
                top: .8rem;
                width: 3.2rem;
            }
        }

        &__options-title {
            color: $global-ui-grey-800;
            display: block;
            font-size: 2.8rem;
            font-weight: $bold;
            letter-spacing: -.06rem;
            margin-top: 2rem;
            text-align: center;
        }

        &__button {
            @include button-reset;
        }

        &--small {

            #{$this} {

                &__label {
                    display: none;
                }

                &__button {
                    align-items: center;
                    color: $global-ui-grey-800;
                    display: flex;
                    font-size: 1.2rem;
                    font-weight: $bold;
                    padding: 1rem 2rem;
                    height: 100%;

                    .icon {
                        height: 2.4rem;
                        order: 1;
                        width: 2.4rem;
                    }
                }
            }
        }

        &--large {
            margin: 4rem auto;
            padding: 0;

            &::after {
                left: 0;
                right: 0;
            }

            #{$this} {

                &__label {
                    background-color: $white;
                    display: inline-block;
                    font-size: 2.1rem;
                    margin: 0 auto 1.8rem;
                    padding: 0 1.2rem;
                }
            }
        }
    }
}
