.static-header {
    $this: &;
    position: relative;
    background: $primary-medium;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba($black, .25), rgba($black, 0));
        z-index: $level-one;
    }

    &__wrapper {
        // Push content inside static header above gradient
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1.5rem 1.6rem 1.4rem;
        position: relative;
        z-index: $level-two;
    }

    &.theme {

        &--secondary {
            background: $secondary-dark;

            #{$this}__title {
                color: $white;
            }
        }

        &--light {
            background: $white;

            &::before {
                content: none;
            }

            #{$this}__title {
                color: $primary-medium;
            }
        }
    }

    &__icon {
        fill: $white;
        height: 6.4rem;
        width: 6.4rem;
    }

    &__title {
        @include title-font;
        font-size: 5rem;
        letter-spacing: -.09rem;
        line-height: 1.08;
        font-weight: $bold;
        margin: 0 .8rem;
        text-align: center;
        color: $white;

        @include mq($until: tablet) {
            font-size: 3.7rem;
        }

        @include mq($until: phablet) {
            font-size: 2.8rem;
        }
    }

    &__image-wrapper {
        position: static;

        &--background {
            overflow: hidden;
            display: flex;
            justify-content: center;
        }

        &--bg-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            right: inherit;
            bottom: inherit;
        }
    }

    // Icon Specific Classes

    &--icon {

        #{$this}__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1.9rem 0;
        }

        #{$this}__image-wrapper {
            margin: 0 1.2rem;
        }
    }

    // Background Image version specific classes

    &--background-image {

        &::before {
            background: linear-gradient(to top, rgba($black, .25), rgba($black, 0));
        }
    }

    &__background-image {
        max-width: inherit;
    }

    &__background-wrapper {
        position: relative;
        box-shadow: 0 0 20px 8px rgba($black, .4);

        &::after {
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 3.2rem;
            background: linear-gradient(to bottom, rgba($black, 0), rgba($black, .3));
            z-index: $level-one;
            position: absolute;
        }
    }

    & + .body-content {
        margin-top: 3.2rem;
    }

    &--ladder & {

        &__wrapper {
            padding: 1rem 1.6rem 3rem;
        }
    }

    @include mq($until: tablet) {

        & + .body-content {
            margin-top: 2.4rem;
        }

        &__icon {
            width: 4rem;
            height: 4rem;
        }

        &__title {
            font-size: 2.8rem;
            line-height: 1.14;
            letter-spacing: -.14rem;
        }
    }

    @include mq($until: phablet) {

        & + .body-content {
            margin-top: 1.6rem;
        }

        &__wrapper {
            padding: .6rem 1.6rem;
        }

        &__icon {
            width: 2.4rem;
            height: 2.4rem;
        }

        &__title {
            font-size: 1.6rem;
            line-height: 2;
            letter-spacing: -.03rem;
            margin: 0 .4rem;
        }

        &--ladder & {

            &__wrapper {
                padding: 0 1.6rem 1.7rem;
            }

            &__title {
                font-size: 2.1rem;
            }
        }
    }
}
