.standings-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;

    &__header-row {
        background: $primary;
        color: #fff;
        font-size: 1.4rem;
    }

    &__header-cell {
        padding: .8rem 0;

        &--club {
            width: 25%;
            text-align: left;
        }
    }

    &__cell {
        padding: 1.6rem 0;
    }

    &__row {

        &:nth-child( odd ) {
            background: $grey-light;
        }

        &--highlight-team {
            background: $primary;
        }
    }

    &__club {
        text-align: left;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }

    &__form-container {
        width: 2.4rem;
        margin: 0 .4rem;

        &:hover {
            cursor: pointer;

            .tooltip {
                display: block;
            }
        }
    }

    &__form-result {
        font-weight: $bold;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    &__form-indicator {
        position: relative;
        width: 100%;
        height: .8rem;
        border-radius: .4rem;

        &:focus {

            .tooltip {
                display: block;
            }
        }

        &--draw {
            background: #c2c2c2;
        }

        &--win {
            background: #0abf28;
        }

        &--lose {
            background: #de0e0e;
        }
    }

    &__position {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.6rem 0;
    }

    &__pos-value {
        flex: 1;
    }

    &__pos-movement {
        flex: 1;
        font-size: 1.5rem;

        &--up,
        &--down {

            ::after {
                display: block;
            }
        }

        /**
         * We're using unicode characters as standin, but this can be
         * sprites/SVGs in production builds.
         */

        &--up::after {
            content: '\2B06';
            color: #0abf28;
        }

        &--down::after {
            content: '\2B07';
            color: #de0e0e;
        }
    }

    abbr {
        border-bottom: 0;
    }
}
