/* stylelint-disable  selector-max-specificity  */

.table {
    display: block;
    margin: auto;
    overflow-x: auto;
    max-width: $article-widget-width;

    &--large {
        max-width: $wrapper-width;
    }

    table {
        white-space: nowrap;
        width: 100%;
        margin: 0 auto $embeddable-spacing;
        font-size: 1.6rem;
        line-height: .88;
    }

    thead,
    tfoot {
        background-color: $primary-medium;
        color: $white;
        font-size: 1.2rem;
        font-weight: $bold;
        line-height: 1;

        th,
        td {
            padding: 1rem 2.4rem;
        }
    }

    tbody {

        tr {
            border-bottom: .1rem solid $global-ui-grey-300;
        }

        tr:nth-child( odd ) {
            background-color: $white;
        }

        tr:nth-child( even ) {
            background-color: $global-ui-grey-100;
        }

        td {
            padding: 2.4rem;
            position: relative;

            &:first-child {
                font-weight: $bold;
            }

            &:not( :last-child )::after {
                content: '';
                position: absolute;
                right: 0;
                top: 1rem;
                bottom: 1rem;
                width: .1rem;
                background-color: $global-ui-grey-300;
            }
        }
    }

    @include mq($until: phablet) {

        table {
            min-width: 100%;
            font-size: 1.2rem;
            line-height: 1.33;
            margin-bottom: $embeddable-spacing-mobile;
        }

        thead {
            font-size: 1rem;
            line-height: 1.1;

            th,
            td {
                padding: .8rem 1.2rem;
            }
        }

        tbody {
            font-size: 1.2rem;
            line-height: 1.33;

            td {
                padding: 1.6rem 1.2rem;

                &:not( :last-child )::after {
                    top: .7rem;
                    bottom: .7rem;
                }
            }
        }
    }
}
