.tabs {
    $this: &;
    position: relative;

    &__header {
        background-color: $secondary-dark;
        height: 10.4rem;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin: -2.4rem auto .8rem;

        &.is-scrolling {
            display: block;

            #{$this}__list {
                overflow-x: auto;
                padding-left: .8rem;
                white-space: nowrap;
            }
        }
    }

    &__list {
        box-shadow: 0 4px 12px 0 rgba($black, .08);
        display: flex;

        @include hover {

            .icon {
                opacity: .6;
            }

            li {
                color: rgba($global-ui-grey-800, .6);

                &.is-active::after {
                    transform: scaleY(0);
                }

                @include hover {
                    color: $global-ui-grey-800;

                    &::after {
                        transform: scaleY(1);
                    }

                    .icon {
                        opacity: 1;
                    }
                }
            }
        }

        li {
            align-items: center;
            background-color: $white;
            border-right: 1px solid $global-ui-grey-300;
            color: $global-ui-grey-800;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: $bold;
            height: 4.8rem;
            justify-content: center;
            letter-spacing: -.04rem;
            position: relative;
            text-align: center;
            transition: all $transition;
            width: 22rem;

            &:last-child {
                border-right: none;
            }

            &::after {
                background-color: $secondary-dark;
                bottom: 0;
                content: '';
                height: .3rem;
                left: 0;
                position: absolute;
                right: 0;
                transform: scaleY(0);
                transition: all $transition;
            }

            &.betting::after {
                background-color: $sponsor-bet-easy;
            }

            &.is-active::after {
                transform: scaleY(1);
            }
        }
    }

    .icon {
        height: 3.2rem;
        transition: opacity $transition;
        width: 3.2rem;

        &.ladder {
            fill: $global-ui-grey-800;
        }
    }

    &__icon-matches {
        transform: rotate(-45deg);
    }

    .beteasy-on-white {
        width: 5.4rem;
        height: 3.2rem;
        margin-right: .6rem;
    }

    &__content {
        display: none;
        position: relative;

        &.is-active {
            display: block;
        }
    }

    &--toggle {

        #{$this} {

            &__nav {
                justify-content: flex-end;
            }
    
            &__title {
                color: $global-ui-grey-800;
                font-size: 1.2rem;
                font-weight: $bold;
                padding: 0 1.2rem;
                text-transform: uppercase;
            }
    
            &__list {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: minmax(12rem, 1fr);
                box-shadow: none;
                border-radius: 3px;
                border: solid 1px #e0e0e0;
                overflow: hidden;
                transition: all $transition;

                @include hover {
                    box-shadow: 0 3px 6px 0 rgba($black, .12);
    
                    li {
                        color: $global-ui-grey-800;
    
                        &.is-active {
                            color: $white;
                        }
                    }
                }

                li,
                #{$this}__item {
                    height: 3.2rem;
                    background-color: #f6f7f9;
                    color: $global-ui-grey-800;
                    text-transform: uppercase;
                    line-height: 1.33;
                    font-weight: $bold;
                    font-size: 1.2rem;
                    letter-spacing: normal;
                    width: auto;
                    white-space: nowrap;
                    padding: 0 1.4rem;
    
                    &.is-active {
                        background-color: $primary-medium;
                        color: $white;
 
                        &::after {
                            display: none;
                        }
    
                        #{$this}__team-badge {
                            display: none;
        
                            &--light {
                                display: block;
                            }
                        }
                    }

                    &--home {
                        color: var(--home-primary);
    
                        @include hover {
                            color: var(--home-primary);
                        }
    
                        &.is-active {
                            background-color: var(--home-primary);
    
                            @include hover {
                                background-color: var(--home-primary);
                            }
                        }
                    }
            
                    &--away {
                        color: var(--away-primary);
    
                        @include hover {
                            color: var(--away-primary);
                        }
    
                        &.is-active {
                            background-color: var(--away-primary);
    
                            @include hover {
                                background-color: var(--away-primary);
                            }
                        }
                    }
                }
            }

            &__team-badge {
                height: 2.8rem;
                width: 2.8rem;

                &--light {
                    display: none;
                }
            }
        }
    }

    &--stats {
        margin-top: -2.4rem;
        padding: 2.4rem 0 1.6rem;
        position: relative;

        &::before {
            background-image: linear-gradient(to left, rgba($global-ui-grey-800, 0%), rgba($global-ui-grey-800, .12) 50%, rgba($global-ui-grey-800, 0) 100%);
            content: '';
            height: .2rem;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        #{$this} {

            &__nav {
                align-items: center;
                justify-content: center;
                margin: 0;
            }
    
            &__list {
                grid-auto-columns: minmax(8rem, 1fr);

                @include hover {
                    box-shadow: none;
                }
            }

            &__item {
 
                @include hover {
                    background-color: $white;
                    color: $global-ui-grey-800;
 
                    &.is-active {
                        background-color: $primary-medium;
                        color: $white;
                    }
                }

                &::after {
                    background-color: #e0e0e0;
                    bottom: .8rem;
                    content: '';
                    display: block;
                    height: auto;
                    left: auto;
                    right: 0;
                    top: .8rem;
                    transform: none;
                    width: .1rem;
                }

                &:last-child::after {
                    display: none;
                }
            }
        }
    }

    @include mq($until: phablet) {

        &__nav {
            margin: -2rem 0 0;
            position: relative;
        }

        &__list {

            li {
                font-size: 1.4rem;
                letter-spacing: -.03rem;
                height: 4rem;
                width: 11.9rem;
            }
        }

        .icon {
            height: 2.4rem;
            width: 2.4rem;
        }

        .beteasy-on-white {
            width: 4.6rem;
            height: 2.3rem;
            margin-right: .4rem;
        }

        &--toggle & {

            &__nav {
                margin: 0;
            }
        
            &__title {
                font-size: 1.1rem;
                padding: 0 0 1.2rem;
            }

            &__list {
                display: flex;
                flex: 1 1 auto;

                li {
                    flex: 1 1 auto;
                }
            }
        }

        &--stats {
            margin-top: 0;
            padding: 1.6rem 1.2rem 0;
    
            &::before {
                height: .1rem;
            }
    
            #{$this} {

                &__container {
                    margin: 0 auto;
                    max-width: 37rem;
                }
    
                &__nav {
                    align-items: stretch;
                    flex-direction: column;
                }
        
                &__list {
                    display: grid;
                }
            }
        }
    }

    &__container {
        position: relative;
        z-index: $level-one;
    }
}
