.tooltip {
    $this: &;
    position: relative;
    display: inline-flex;
    text-align: left;
    white-space: normal;

    &--center {
        text-align: center;
    }

    &--right & {

        &__content {
            left: auto;
            right: -1.2rem;
            transform: translateY(15px);

            &::after {
                left: auto;
                right: 3.2rem;
            }
        }
    }

    &--light #{$this} {

        &__tooltip {
            background-color: $white;
        }

        &__label {
            color: $global-ui-grey-800;
        }

        &__text {
            color: rgba($black, .7);
        }

        &__content::after {
            border-color: $white transparent transparent transparent;
        }
    }

    &--betting #{$this} {

        &__tooltip {
            background-color: $sponsor-bet-easy;
        }

        &__content::after {
            border-color: $sponsor-bet-easy transparent transparent transparent;
        }
    }

    &--center {
        justify-content: center;
    }

    &--table {
        display: table-cell;

        #{$this}__hover-section {
            border-bottom: 0;

            &::after {
                content: '';
                display: block;
                width: 100%;
                transform: translateY(.5rem);
                border-bottom: 1px dashed rgba($primary-medium, .4);
            }
        }
    }

    &--worm {
        position: absolute;
        right: 3.6rem;
        top: -7.2rem;

        #{$this} {

            &__hover-section {
                border-bottom: none;
                display: flex;
                align-items: center;
            }

            &__gradient-icon {
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    height: 2.4rem;
                    width: 2.4rem;
                    background-image: $primary-gradient-dark;
                    mask-image: url(../i/elements/info.svg);
                    mask-size: cover;
                    position: absolute;
                    z-index: 1;
                }
            }

            &__icon {
                height: 2.4rem;
                width: 2.4rem;
                fill: transparent;
                // stylelint-disable-next-line declaration-block-no-duplicate-properties
                fill: $white;
                filter: drop-shadow(0 .5rem .2rem, rgba($black, .1));
                margin: auto;
            }

            &__header-label {
                color: $global-ui-grey-800;
                font-size: 1.2rem;
                font-weight: $bold;
                line-height: 1.33;

                &--alt {
                    color: $secondary-dark;
                    font-weight: $bolder;
                    letter-spacing: .4px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__hover-section {
        display: inline-block;
        border-bottom: 1px dashed rgba($primary-medium, .4);
        position: relative;
    }

    &__content {
        visibility: hidden;
        width: 29.1rem;
        position: absolute;
        z-index: $level-five;
        top: 125%;
        left: 50%;
        opacity: 0;
        transform: translateY(15px) translateX(-50%);
        transition: opacity $transition, transform $transition;

        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -.8rem;
            border-width: .8rem;
            border-style: solid;
            transform: rotate(180deg);
            border-color: $primary-medium transparent transparent transparent;
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: $bold;
        color: $white;
        display: block;
        margin-bottom: .2rem;
    }

    &__text {
        color: rgba($white, .8);
        font-size: 1.2rem;
        font-weight: $regular;
        line-height: 1.6rem;
    }

    &__tooltip {
        box-shadow: 0 8px 20px 0 rgba($black, .15);
        background-color: $primary-medium;
        border-radius: .4rem;
        padding: 1.2rem;
    }

    &__close.icon {
        position: absolute;
        top: .8rem;
        right: .8rem;
        display: none;
        fill: $global-ui-grey-600;
    }

    @include mq($from: tablet) {

        &.active #{$this} {

            &__hover-section {
                cursor: pointer;

                &:hover #{$this}__content {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(5px) translateX(-50%);
                }
            }
        }

        &--right.active #{$this} {

            &__hover-section {

                &:hover #{$this}__content {
                    transform: translateY(5px);
                }
            }
        }
    }

    @include mq($until: tablet) {

        &--table & {

            &__content {
                display: none;
            }

            &__hover-section::after {
                display: none;
            }
        }

        &--worm #{$this}__content {
            transform: translateY(5px) translateX(0);
        }

        &__hover-section {
            border-bottom: none;
        }

        &.show {
            display: block;
            width: 100%;

            #{$this}__hover-section {
                width: 100%;
            }

            #{$this}__content {
                visibility: visible;
                opacity: 1;
                left: 0;
                width: 100%;
            }

            #{$this}__close.icon {
                display: block;
            }
        }
    }
}
