.widget {
    $this: &;
    margin-bottom: $layout-padding * 7.5;

    @include mq($until: tablet) {
        margin-bottom: $layout-padding * 5;
    }

    @include mq($until: phablet) {
        margin-bottom: $layout-padding * 2.5;
    }

    &--advert {
        margin-bottom: $layout-padding * 3.6;

        @include mq($until: tablet) {
            margin-bottom: $layout-padding * 2.5;
        }

        @include mq($until: phablet) {
            margin-bottom: $layout-padding * 1.25;
        }

        #{ $this }:not( .widget--advert ) + & {
            margin-top: -$layout-padding * 3.6;

            @include mq($until: tablet) {
                margin-top: -$layout-padding * 2.5;
            }

            @include mq($until: phablet) {
                margin-top: -$layout-padding * 1.25;
            }
        }
    }

    &--mc {
        padding-bottom: 3.8rem;
        margin-bottom: 8rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: .8rem;
            background-color: $mc-widget-spacer-background;
            border-top: .1rem solid rgba($global-ui-grey-800, .1);
            border-bottom: .1rem solid rgba($global-ui-grey-800, .1);
        }

        @include mq($until: tablet) {
            padding-bottom: 1.5rem;
            margin-bottom: 4rem;
        }

        @include mq($until: phablet) {
            padding-bottom: .5rem;
            margin-bottom: 2.4rem;
        }
    }
}

#main-content > :first-child.widget--no-margin,
#main-content > :last-child.widget--no-margin {
    margin-bottom: 0;
}
