.widget-header {
    $this: &;
    position: relative;
    margin-bottom: 4.8rem;

    &::before {
        content: '';
        display: block;
        width: 6.2rem;
        height: .4rem;
        background-image: $primary-gradient-dark;
        box-shadow: 0 2px 8px 0 rgba($secondary-dark, .25);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 2.6rem;
    }

    &__content-optional {
        margin-top: 1.3rem;
    }

    &__title {
        font-size: 3.7rem;
        font-weight: $bold;
        color: $brand-ui-dark;
        line-height: .9;
        letter-spacing: -.14rem;
    }

    &__title-link {
        display: flex;
        text-decoration: none;
        align-items: center;

        .icon {
            width: 2.4rem;
            height: 2.6rem;
            margin-left: .25rem;
            padding-top: .2rem;
        }
    }

    &__subtitle {
        font-size: 1.4rem;
        font-weight: $light;
        color: $global-ui-grey-600;
        line-height: 1.285;
    }

    &__button {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &--sidebar {
        margin-bottom: 2.6rem;

        &::before {
            width: 100%;
        }

        #{$this}__title {
            font-size: 2.1rem;
        }

        #{$this}__content {
            margin-top: 1.6rem;
        }
    }

    @include mq($until: tablet) {

        &__title {
            font-size: 2.8rem;
        }
    }

    @include mq($until: phablet) {
        margin-bottom: $layout-padding;

        &::before {
            width: 100%;
        }

        &__content {
            margin-top: 1.5rem;
        }

        &__content-optional {
            margin-top: .6rem;
        }

        &__title {
            font-size: 2.1rem;
            letter-spacing: -.05rem;
        }

        &__subtitle {
            font-size: 1.2rem;
            line-height: 1.16;
        }

        &__button {
            margin: 2.4rem 0 0;
            width: 100%;
            position: relative;
            right: auto;
            bottom: auto;
        }
    }
}
