// stylelint-disable font-weight-notation, declaration-no-important
// Font Mixins

/*
---- If Font is served through local files the following mixins can be used ----
*/

$light: 300;
$regular: 400;
$bold: 600;
$bolder: 900;

@font-face {
    font-family: titillium;
    font-weight: $light;
    font-style: normal;
    src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
}

@font-face {
    font-family: titillium;
    font-weight: $regular;
    font-style: normal;
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: titillium;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: titillium;
    font-weight: $bold;
    font-style: normal;
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: titillium;
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
}

@mixin title-font {
    font-family: titillium, Arial, sans-serif;
}

@mixin copy-font {
    font-family: titillium, Arial, sans-serif;
    font-weight: $regular;
}

// stylelint-enable
