// stylelint-disable rule-empty-line-before, selector-max-universal, selector-max-type, selector-no-qualifying-type

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

figure {
    margin: 0;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
        list-style-type: none;
    }
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    color: $text-primary;
    font-size: 1.4rem;
    overflow-x: hidden;
}

// stylelint-disable-next-line rule-empty-line-before, selector-max-universal

*:focus {
    outline: 0;
}

svg.icon {
    width: 2rem;
    height: 2rem;
    display: block;
    fill: #000;
}

.skip-to {
    padding: 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-decoration: none;
    transition: .2s;
    background: $primary;
    line-height: 5rem;
    transform: translateX(-100%);
    z-index: 1000;

    &:focus {
        transform: translateX(0);
    }
}

img {
    max-width: 100%;
}
