/* Typography */

body {
    @include copy-font;
    color: $text-primary;
    font-size: 1.4rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
button,
time,
dl,
dt,
dd { // Add font smoothing to all text, forces smoother rendering of text
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title-font;
}

strong,
.bold {
    font-weight: $bold;
}

.light {
    font-weight: $light;
}

p {
    line-height: 1.6;

    a {
        text-decoration: none;
        color: $secondary-dark;
        font-weight: $bold;
        position: relative;
        background: linear-gradient(to bottom, transparent 0%, transparent 60%, rgba($secondary-dark, .1) 60%, rgba($secondary-dark, .1) 92%, transparent 93%, transparent 100%);

        @include hover {
            color: $primary-medium;
            background: linear-gradient(to bottom, transparent 0%, transparent 60%, rgba($primary-medium, .1) 60%, rgba($primary-medium, .1) 92%, transparent 93%, transparent 100%);
        }
    }
}
