$club-colours: (
    adel: #004b8d,
    bl: #8b0042,
    carl: #001e2f,
    coll: #000,
    ess: #000,
    fre: #331c54,
    gcfc: #d72e24,
    geel: #024,
    gws: #ff7900,
    haw: #512b1b,
    melb: #061a33,
    nmfc: #003ca0,
    port: #000,
    rich: #000,
    stk: #ed1b2e,
    syd: #ee1e31,
    wb: #0039a6,
    wce: #003087
);

:root {
    --home-primary: #1b1e2c;
    --away-primary: #1b1e2c;
    @each $abbr, $colour in $club-colours {
        --#{ $abbr }: #{ $colour };
    }
}
