.leagues {
    display: flex;

    &__item {
        margin: 1rem;
        padding: 2rem;
        position: relative;
        text-align: center;
        width: 25%;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .6rem;
            z-index: -1;
            box-shadow: 0 .1rem .4rem 0 rgba($black, .12);
            transition: .3s ease box-shadow;
        }
    
        @include hover {
    
            &::after {
                box-shadow: 0 .8rem 2rem 0 rgba($black, .15);
            }
        }
    }
}