/* stylelint-disable declaration-no-important  */

.u-hide {
    display: none !important;
}

.u-show {
    display: block !important;
}

.u-visually-hidden {
    visibility: hidden;
}

.u-screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.u-bold {
    font-weight: $bold;
}

.u-body-fixed {
    overflow: hidden;
    height: 100vh;
}

.u-body-fixed-tablet {
    @media (max-width: $break-tablet) {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
}

@include mq($until: wide) {

    .u-hide-wide {
        display: none !important;
    }
}

.u-no-font {
    font-size: 0;
}

.u-text-upper {
    text-transform: uppercase !important;
}

.u-flex-tablet {
    @include mq( $until: tablet ) {
        display: flex;
        flex-direction: column;
    }
}

@include mq($until: desktop) {

    .u-hide-desktop {
        display: none !important;
    }
}

@include mq($from: desktop) {

    .u-show-desktop {
        display: none !important;
    }
}

@include mq($until: tablet) {

    .u-body-no-scroll {
        position: fixed;
    }

    .u-hide-tablet {
        display: none !important;
    }

    .u-display-tablet {
        display: inline-block !important;
    }
}

@include mq($from: tablet) {

    .u-show-tablet {
        display: none !important;
    }
}

@include mq($until: phablet) {

    .u-hide-phablet {
        display: none !important;
    }
}

@include mq($from: phablet) {

    .u-show-phablet {
        display: none !important;
    }
}

@include mq($until: desktop) {

    .u-hide-desktop {
        display: none !important;
    }
}

@include mq($from: mobile) {

    .u-show-mobile {
        display: none !important;
    }
}

@include mq($until: mobile) {

    .u-hide-mobile {
        display: none !important;
    }
}

.u-hide-unpublished {
    display: none !important; //stylelint-disable-line declaration-no-important
}

.match-centre {
    .mc-tabs__content {
        .floating-bar {
            display: none;
        }
    }
}

/* stylelint-enable */
