/* Grid */

@mixin wrapper {
    width: 100%;
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 3.6rem;
    @include clearfix;

    @include mq($until: tablet) {
        padding: 0 $layout-padding;
    }

    @include mq($until: phablet) {
        padding: 0 1.2rem;
    }
}

.wrapper {
    @include wrapper;
    margin-bottom: 2rem;
    position: relative;
}

/* Columns */

/* stylelint-disable selector-max-attribute  */

[class*='col-'] {
    width: 100%;
    padding-left: $layout-padding;
    padding-right: $layout-padding;
    float: left;
}
/* stylelint-enable */

$i: 1;

@while $i < 13 {

    .col-#{$i} {
        width: ( 100% / 12 ) * $i;
    }
    $i: $i + 1;
}

@include mq($until: wide) {

    $i: 1;

    @while $i < 13 {

        .col-#{$i}-wide {
            width: ( 100% / 12 ) * $i;
        }
        $i: $i + 1;
    }
}

@include mq($until: desktop) {

    $i: 1;

    @while $i < 13 {

        .col-#{$i}-desk {
            width: ( 100% / 12 ) * $i;
        }
        $i: $i + 1;
    }
}

@include mq($until: tablet) {

    $i: 1;

    @while $i < 13 {

        .col-#{$i}-tab {
            width: ( 100% / 12 ) * $i;
        }
        $i: $i + 1;
    }
}

@include mq($until: phablet) {

    $i: 1;

    @while $i < 13 {

        .col-#{$i}-phab {
            width: ( 100% / 12 ) * $i;
        }
        $i: $i + 1;
    }
}

@include mq($until: mobile) {

    $i: 1;

    @while $i < 13 {

        .col-#{$i}-mob {
            width: ( 100% / 12 ) * $i;
        }
        $i: $i + 1;
    }
}

// BLOCK LIST

@include mq($from: mobile) {

    $col-count: 1;

    @while $col-count <= 6 {

        .block-list-#{$col-count} {
            width: 100%;
            display: grid;
            grid-gap: $layout-padding;
            margin-bottom: $layout-padding * 2;
            grid-template-columns: repeat($col-count, minmax(0, 1fr));
        }
        $col-count: $col-count + 1;
    }
}

// Change Block List based on Breakpoint suffix

@each $breakpoint-size, $value in $mq-breakpoints {

    $col-count: 1;

    @while $col-count <= 6 {
        $grid-gap: $layout-padding;
        @if $breakpoint-size == 'phablet' {
            $grid-gap: $layout-padding / 2;
        }

        @include mq( $until: #{$breakpoint-size} ) {

            .block-list-#{$col-count}-#{$breakpoint-size} {
                width: 100%;
                display: grid;
                grid-gap: $grid-gap;
                margin-bottom: $layout-padding * 2;
                grid-template-columns: repeat($col-count, minmax(0, 1fr));
            }
            $col-count: $col-count + 1;
        }
    }
}

// GRID

.grid {
    // 30rem is the minimum width of injected adverts that are used in the sidebar
    --sidebar-width: calc(30rem + (#{$layout-padding * 2}));
    display: grid;

    &__column {
        padding: 0 $layout-padding;
    }

    &--right-sidebar {
        grid-template-columns: minmax(0, 1fr) var(--sidebar-width);
    }

    &--left-sidebar {
        grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
    }

    @include mq($until: desktop) {

        &--right-sidebar,
        &--left-sidebar {
            grid-template-columns: 100%;
        }
    }

    @include mq($until: phablet) {

        &__column {
            padding: 0 ($layout-padding / 2);
        }
    }
}

/* Scrollable Grid */

/* stylelint-disable declaration-no-important  */

.scroll-grid-tablet > li {
    @include mq($until: tablet) {
        width: 40% !important;
        display: inline-block !important;
        margin-right: 1.6rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
        float: none !important;
        clear: none !important;
    }

    @include mq($until: mobile) {
        width: 75% !important;
    }
}
/* stylelint-enable */
