@mixin icn {
        background-image: url('../i/sprites/global-sprite.png');
        background-repeat: no-repeat;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-size: 308px 249px;
            background-image: url('../i/sprites/global-sprite@x2.png');
        }
    }

.icn {
    @include icn;
}


@mixin icn-afl-logo {
    background-position: -180px -44px;
    width: 114px;
    height: 40px;
}

.icn-afl-logo {
    @include icn-afl-logo;
    display: block;
}


@mixin icn-android-badge {
    background-position: -135px -178px;
    width: 135px;
    height: 40px;
}

.icn-android-badge {
    @include icn-android-badge;
    display: block;
}


@mixin icn-apple-badge {
    background-position: 0px -178px;
    width: 135px;
    height: 40px;
}

.icn-apple-badge {
    @include icn-apple-badge;
    display: block;
}


@mixin icn-badge-fantasy-large {
    background-position: -180px -108px;
    width: 38px;
    height: 48px;
}

.icn-badge-fantasy-large {
    @include icn-badge-fantasy-large;
    display: block;
}


@mixin icn-badge-fantasy {
    background-position: -270px -178px;
    width: 25px;
    height: 32px;
}

.icn-badge-fantasy {
    @include icn-badge-fantasy;
    display: block;
}


@mixin icn-logo-bitbucket {
    background-position: -138px -90px;
    width: 40px;
    height: 40px;
}

.icn-logo-bitbucket {
    @include icn-logo-bitbucket;
    display: block;
}


@mixin icn-logo-confluence {
    background-position: -258px -108px;
    width: 40px;
    height: 40px;
}

.icn-logo-confluence {
    @include icn-logo-confluence;
    display: block;
}


@mixin icn-logo-jira {
    background-position: -130px -134px;
    width: 40px;
    height: 40px;
}

.icn-logo-jira {
    @include icn-logo-jira;
    display: block;
}


@mixin icn-logo-zeplin {
    background-position: -218px -108px;
    width: 40px;
    height: 40px;
}

.icn-logo-zeplin {
    @include icn-logo-zeplin;
    display: block;
}


@mixin icn-podcast-apple {
    background-position: -180px 0px;
    width: 128px;
    height: 44px;
}

.icn-podcast-apple {
    @include icn-podcast-apple;
    display: block;
}


@mixin icn-podcast-google {
    background-position: 0px -90px;
    width: 138px;
    height: 44px;
}

.icn-podcast-google {
    @include icn-podcast-google;
    display: block;
}


@mixin icn-podcast-spotify {
    background-position: 0px -134px;
    width: 130px;
    height: 44px;
}

.icn-podcast-spotify {
    @include icn-podcast-spotify;
    display: block;
}


@mixin icn-promo-logos-mob {
    background-position: -180px -84px;
    width: 116px;
    height: 24px;
}

.icn-promo-logos-mob {
    @include icn-promo-logos-mob;
    display: block;
}


@mixin icn-promo-logos {
    background-position: 0px -218px;
    width: 154px;
    height: 31px;
}

.icn-promo-logos {
    @include icn-promo-logos;
    display: block;
}


@mixin icn-toyota {
    background-position: 0px 0px;
    width: 180px;
    height: 90px;
}

.icn-toyota {
    @include icn-toyota;
    display: block;
}

