/* Colours */

$black: #000;
$white: #fff;

$primary-light: #b2ebf2;
$primary-light-hover: darken($primary-light, 10%);

$primary-dark: #01285e;
$primary-medium: #023c91;

$primary: #00bcd4;
$primary-hover: darken($primary, 10%);

$secondary: #ff9800;
$secondary-hover: darken($secondary, 10%);

$secondary-dark: #ee001b;
$secondary-light: #f0001b;

$tertiary: #3ebbfa;
$tertiary-hover: darken($tertiary, 10%);

$secondary-text: $white;
$secondary-gradient: linear-gradient(to left, $primary-dark, $primary-medium);
$primary-gradient-dark: linear-gradient(to left, #c72077, $secondary-dark);
$primary-gradient-light: linear-gradient(to left, #4d80e5, $tertiary);
$tertiary-gradient: linear-gradient(to left, #2dc5a1, #52cc67);
$ladder-top-teams: linear-gradient(to right, #c72077, $secondary-dark);

$global-ui-live: #38c734;
$global-ui-lose: #e5061d;
$global-ui-draw: #fd8d0a;
$global-ui-bye: #969ea3;

$global-ui-grey-800: #0e0e0e;
$global-ui-grey-600: #727272;
$global-ui-grey-300: #f0f0f0;
$global-ui-grey-100: #f8f8f8;

$brand-ui-dark: #070707;
$brand-ui-medium: #282e3a;
$brand-ui-light: #4d78b2;
$brand-ui-highlight: $white;

$grey-light: #f7f7f9;
$grey-light-hover: darken($grey-light, 5%);
$grey: #d3d7d7;
$grey-hover: darken($grey, 10%);
$grey-dark: #6f7171;
$grey-dark-hover: darken($grey-dark, 10%);

$text-primary: $global-ui-grey-800;
$text-secondary: #333;
$text-light: $white;

/* Social Colours */
$facebook: #1877f2;
$twitter: #00aaec;
$youtube: #ce1312;
$snapchat: #fffc00;
$instagram: #e95950;
$instagram-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);

@mixin instagram() {
    background-image: linear-gradient(45deg, #4c68d6, #b22d98 33%, #e85a50 65%, #fbbb59);
}
$google: #db4437;
$whatsapp: #24d366;

$bg-placeholder: #14161c;

/* Scrollbar theme */
$track-grey: #eee;
$thumb-grey: #a8a8a8;

/* Themes */
$dark-theme: #0b1523;

/* Sponsors */
$sponsor-virgin: #5b2d90;
$sponsor-kayo: #00bf6f;
$sponsor-mcdonalds: #c40217;
$sponsor-aami: #d80010;
$sponsor-bet-easy: #8935c0;
$sponsor-quitline: #0d2b88;

/* Match Centre */
$mc-active: #dd1f13;
$mc-new-grad: linear-gradient(to right, #f6812d, #e94461);
$mc-black: #1b1e2c;
$mc-text-gradient: linear-gradient(to bottom, $white, #fbfbfb);
$mc-blue-dark: #212b3a;
$mc-widget-spacer-background: #f6f7f9;

/* Breakpoints */
$break-mobile:  400px;
$break-phablet: 640px;
$break-tablet:  840px;
$break-desktop: 1025px;
$break-wide:    1300px;

/* Layout */
$wrapper-width: 151.1rem;
$layout-padding: 1.6rem;
$article-content-width: 70.8rem;
$article-widget-width: 95.2rem;
$embeddable-spacing: 6.4rem;
$embeddable-spacing-mobile: 2.4rem;
$sidebar-spacing: 4rem;

$nav-top-bar-height: 5.2rem;
$nav-height: 6.4rem;

/* Aspect ratios */
$aspect-16-10: 10 / 16 * 100%; // 16:10
$aspect-16-9: 9 / 16 * 100%; // 16:9
$aspect-2-3: 3 / 2 * 100%; // 2:3
$aspect-3-4: 4 / 3 * 100%; // 3:4
$aspect-4-3: 3 / 4 * 100%; // 4:3

/* Z-Index Layers */
$level-one: 10;
$level-two: 20;
$level-three: 30;
$level-four: 40;
$level-five: 50;
$level-six: 60;
$level-seven: 70;
$level-ten: 100; // navigation
$level-eleven: 110; // round centre
$level-twelve: 120; // livepass entitlement modal / open nav sidebar

/* Transitions */
$quick-bezier: cubic-bezier(0, .4, .5, 1);
$transition: .25s ease;

/* Box shadow */
$box-shadow: 0 4px 12px 0 rgba($black, .08);
$box-shadow-hover: 0 8px 20px 0 rgba($black, .25);

/* Telstra Bar */

$th-font: titillium, sans-serif;
$th-brand-ui-dark: #070707;
$th-primary-medium: #023c91;
$th-primary-dark: #01285e;
$th-light-purple: #570066;
$th-dark-purple: #300038;
$telstra-gradient: linear-gradient(to left, #ff7aa3, #ffad6e 67%, #a0148c);
$telstra-footer-gradient: linear-gradient(to left, #5e50bf, #5cd6e0 67%, #0064d2);
$th-button-bg-hover: linear-gradient(to bottom, rgba(215, 215, 215, 0), rgba(215, 215, 215, .25));
$th-menu-bg-gradient: linear-gradient(to bottom, $th-light-purple, $th-dark-purple);
